---
title: IRC Foundation Developer Docs
layout: default
ntitle: Developer Documentation
nsub: For developers of servers, clients, and everything inbetween
---

<a href="/refs/commands/">Commands</a>

<h2>Numerics</h2>
{% assign nums = "" | split: "" %}
{% for p in site.pages %}
    {% if p.layout == "numeric" %}
        {% assign nums = nums | push: p.numeric %}
    {% endif %}
{% endfor %}
{% assign nums = nums | sort %}

{% for num in nums %}
    <p><a href="refs/numerics/{{ num }}">{{ num }}</a></p>
{% endfor %}
