---
title: IRC Commands
layout: short-header
ntitle: Command Reference
nsub: IRC commands supported by servers
---
<div class="row">
    <div class="col-3 sidebar">
        <div class="docs-list-sidebar">
            <div class="breadcrumbs">
                <ul>
                    <li><a href="{{ '/refs' | relative_url }}">References</a></li>
                    <li class="breadcrumb-block" style="display: block; todo: 'move this to css'">Commands</li>
                </ul>
            </div>

            <h4><a href="#groups">Groups</a></h4>
            {% for group in site.data.command-groups.index-order %}
                {% assign info = site.data.command-groups.groups[group] %}
                {% if info %}
                    {% assign cmds = "" | split: "" %}
                    {% for p in site.pages %}
                        {% if p.layout == "command" %}{% if p.command-groups contains group %}
                            {% assign cmds = cmds | push: p.command %}
                        {% endif %}{% endif %}
                    {% endfor %}
                    {% assign cmds = cmds | sort %}
                    {% if cmds.size > 0 %}
                    <p><a href="#{{ group | slugify }}">{{ info.name }}</a></p>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% assign cmds = "" | split: "" %}
            {% for p in site.pages %}
                {% if p.layout == "command" %}{% if p.command-groups %}{% else %}
                    {% assign cmds = cmds | push: p.command %}
                {% endif %}{% endif %}
            {% endfor %}
            {% assign cmds = cmds | sort %}
            {% if cmds.size > 0 %}
                <!-- <p><a href="#others">Others</a></p> -->
            {% endif %}

            <!-- <h4><a href="#full-list">Full List</a></h4> -->
        </div>
    </div>
    <div class="col-9 main-content">
        <div class="docs-list-content content">
            <h2><div class="docs-list-linker" id="groups"></div><a href="#groups">Groups</a></h2>
            {% for group in site.data.command-groups.index-order %}
                {% assign info = site.data.command-groups.groups[group] %}
                {% if info %}
                    {% assign cmds = "" | split: "" %}
                    {% for p in site.pages %}
                        {% if p.layout == "command" %}{% if p.command-groups contains group %}
                            {% assign cmds = cmds | push: p.command %}
                        {% endif %}{% endif %}
                    {% endfor %}
                    {% assign cmds = cmds | sort %}
                    {% if cmds.size > 0 %}
                        <h3><div class="docs-list-linker" id="{{ group | slugify }}"></div><a href="#{{ group | slugify }}">{{ info.name }}</a></h3>
                        {{ info.description | markdownify }}

                        <table class="docs-listing">
                            <colgroup>
                                <col class="name">
                                <col class="desc">
                            </colgroup>
                            {% for cmd in cmds %}
                            <tr{% if info %}{% else %} class="disabled"{% endif %}>
                                {% assign cmd_id = cmd | slugify %}
                                {% assign info = site.data.commands.info[cmd_id] %}
                                <td><tt>{% if info %}<a href="{{ cmd_id }}">{{ cmd }}</a>{% else %}<span class="notexisting">{{ cmd }}</span>{% endif %}</tt></td>
                                <td>
                                    {{ info.desc | markdownify }}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                {% endif %}
            {% endfor %}

            <!--{% if false %}{% assign cmds = "" | split: "" %}
            {% for p in site.pages %}
                {% if p.layout == "command" %}{% if p.command-groups %}{% else %}
                    {% assign cmds = cmds | push: p.command %}
                {% endif %}{% endif %}
            {% endfor %}
            {% assign cmds = cmds | sort %}
            {% if cmds.size > 0 %}
                <h3><div class="docs-list-linker" id="others"></div><a href="#others">Others</a></h3>
                <p>Commands which don't fall into any of our existing groups.</p>

                <table class="docs-listing">
                    <colgroup>
                        <col class="name">
                        <col class="desc">
                    </colgroup>
                    {% for cmd in cmds %}
                    <tr{% if info %}{% else %} class="disabled"{% endif %}>
                        {% assign cmd_id = cmd | slugify %}
                        {% assign info = site.data.command-info[cmd_id] %}
                        <td><tt>{% if info %}<a href="{{ cmd_id }}">{{ cmd }}</a>{% else %}<span class="notexisting">{{ cmd }}</span>{% endif %}</tt></td>
                        <td>
                            {{ info.desc | markdownify }}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            {% endif %}{% endif %}-->

            <!--{% if false %}<hr>
            <h2><div class="docs-list-linker" id="full-list"></div><a href="#full-list">Full Command List</a></h2>
            <p>All the commands we have documentation for, listed alphabetically.</p>

            {% assign cmds = "" | split: "" %}
            {% for p in site.pages %}
                {% if p.layout == "command" %}
                    {% assign cmds = cmds | push: p.command %}
                {% endif %}
            {% endfor %}
            {% assign cmds = cmds | sort %}
            {% if cmds.size > 0 %}
                <table class="docs-listing">
                    <colgroup>
                        <col class="name">
                        <col class="desc">
                    </colgroup>
                    {% for cmd in cmds %}
                    <tr{% if info %}{% else %} class="disabled"{% endif %}>
                        {% assign cmd_id = cmd | slugify %}
                        {% assign info = site.data.commands.info[cmd_id] %}
                        <td><tt>{% if info %}<a href="{{ cmd_id }}">{{ cmd }}</a>{% else %}<span class="notexisting">{{ cmd }}</span>{% endif %}</tt></td>
                        <td>
                            {{ info.desc | markdownify }}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            {% endif %}
            {% endif %}-->
        </div>
    </div>
</div>
