---
---

.title-container h1, .title-container h6 {
    width: 550px;
    margin: 0 auto;
}

.contact-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 110px;
    padding-bottom: 120px;
    min-height: 300px;
    .content-title-container {
        width: 550px;
        margin: 0 auto;
        h1, h6 {
            font-weight: 300;
        }
        h1 {
            text-align: center;
        }
        h6 {
            padding-top: 10px;
            line-height: 145%;
            margin: 0 auto;
            padding-top: 20px;
            padding-left: 10px;
            padding-right: 10px;
            width: 485px;
            width: 90%;
        }
        .response-time-blurb {
            font-size: 12px;
            text-align: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
    .content-form-container {
        width: 650px;
        margin: 0 auto;
        form {
            border: 0;
            padding-left: 10px;
            padding-right: 10px;
            div {
                margin-bottom: 60px;
            }
            select {
                border: 0;
                border-bottom: 1px solid black;
                border-radius: 0;
                font-weight: 300;
                background: #fff;
                font-size: 16px !important;
                -webkit-appearance: none;
                -moz-appearance: none;
                cursor: pointer;
                appearance: none;
            }
            .multiple-text-inputs {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                input {
                    border: 0;
                    border-bottom: 1px solid black;
                    border-radius: 0;
                    font-weight: 300;
                    font-size: 16px !important;    
                }
            }
            input {
                textarea, select {
                    border: 0;
                    border-bottom: 1px solid black;
                    border-radius: 0;
                    font-weight: 300;
                    font-size: 16px !important;
                }
            }
            label h6 {
                font-weight: 300;
            }
            textarea {
                width: 100%;
                height: 100%;
                min-height: 70px;
            }
            input[type="submit"] {
                background-color: #fff;
                border: 1px solid black;
                cursor: pointer;
                width: 150px;
                float: right;
                margin-top: 40px;
                height: 30px;
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .content-title-container, .content-title-container h6, .title-container h1, .title-container h6 {
        width: 200px !important;
    }
    .content-form-container {
        max-width: 100% !important;
        form {
            display: flex;
            flex-direction: column !important;
        }
    }
    .multiple-text-inputs {
        display: flex;
        flex-direction: column !important;
    }
    .content-form-container form div, .multiple-text-inputs input {
        margin-bottom: 30px;
    }
    .contact-title-container h6 {
        width: 150px !important;
    }    
}

.home-footer {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
        font-weight: 300;
        text-align: center;
    }
}
