---
---

$brandPrimary: #00687f;
$brandPrimaryHover: #0a8da3;


header {
    transition: all 0.2s;
    &.fixed {
        transition: all 0.2s;
        background-color: $brandPrimary;
    }
    a.logo img {
        margin: 0;
    }
}

.docs-homepage-container {
    border-top: 4.5em solid #2a3134; // shouldn't be seen anyway
    display: flex;
    flex-direction: column;
    // height: 0;
    .intro-container {
        margin-bottom: 0;
        padding: 30px 0 10px;
        max-height: auto;
        flex: 1 1 auto;
        text-align: center;
        background: linear-gradient(120deg, #1F3241, #455E6E 70.71%);
        .container {
            color: #fff;
        }
        .subtitle {
            padding-left: 10px;
            padding-right: 10px;
            margin-top: -1.5em !important;
            margin-bottom: 2.5em !important;
        }

        .intro-container-content {
            padding: 0;
        }
    }

    .docs-search-banner {
        padding-top: 100px;
        padding-bottom: 50px;
    }

    .full-width-page-header {
        text-align: center;
    }

    .cta-box-content {
        display: block;
        background: #304656;
        color: #fff;
        padding-bottom: 17px;
        margin: 1.25em 0;
        &:hover {
            text-decoration: none;
            .button {
                background: #fff;
                color: #314157;
                border-color: #fff;
            }
        }
        p {
            text-align: center;
            padding: 0.7em 0.7em;
            font-size: 0.9em;
            line-height: 1.8;
            margin: 0.3em 0.5em;
        }
        p.title {
            padding: 9px 0;
            border-bottom: 1px solid #fff;
            font-size: 1.35em;
            margin: 0;
            i {
                margin-right: 0.35em;
            }
        }
        .button {
            width: 100%;
            max-width: calc(100% - 2.5em);
            display: block;
            text-transform: none;
        }
    }
}

.dev_home {
    h1 {
        font-family: 'Noto Serif', serif;
        font-size: 3em;
        margin: 0 0 30px 0;
        font-weight: 100;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
    }
    h2 {
        text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
    }
    .call-to-action-block .dev-index-wrap {
        max-width: 20em;
        margin: 0 auto;
    }
}

.docs-list-sidebar {
    font-weight: 300;
    margin-top: 0.37em;
    h4 {
        font-size: 1.4em;
        font-weight: 300;
        margin-bottom: 0.2em;
        a {
            color: #111;
        }
        &:not(:first-child) {
            margin-top: 1.05em;
        }
    }
    // h5 {
    //     font-size: 1.2em;
    //     margin-top: 1em;
    //     margin-bottom: 0.35em;
    //     font-weight: 300;
    // }
    p {
        line-height: 1.4;
        margin: 0;
        + p {
            margin-top: 0.5em;
        }
    }
    a {
        display: block;
        color: #173a60;
        &:hover {
            text-decoration: none;
        }
    }
}

.docs-list-content {
    h2, h3 {
        font-weight: 300;
    }
    h3 {
        font-size: 1.65em;
        margin-top: 0.7em;
        margin-bottom: 0.3em;
        color: #3072ba;
        a {
            color: #3072ba;
            &:hover {
                text-decoration: none;
            }
        }
    }
    h2 a {
        color: #111;
        &:hover {
            text-decoration: none;
        }
    }
    .docs-list-linker {
        position: absolute;
        margin-top: -6rem;
    }
    table.docs-listing {
        margin-top: -0.75em;
        width: 100%;
        background: #f7f7f7;
        border: #f5f5f5 0.1em solid;
        tr {
            background: #fff;
            &:nth-child(2n) {
                background: #fafafa;
            }
        }
        td {
            padding: 0.1em 0.3em;
            .notexisting {
                opacity: 0.5;
            }
            p:last-child {
                margin-bottom: 0;
            }
        }
        .desc {
            width: 80%;
        }
    }
}


//Buttons
.btn {
    border-color: $brandPrimary;
    background-color: $brandPrimary;
    &:hover{
        background-color: $brandPrimaryHover;
    }

    &.btn-success {
        background: #27a54e;
        border-color: #27a54e;
        &:hover{
          background-color: #52c776;
        }
    }

    &.btn-info {
        background: #3490b3;
        border-color: #3490b3;
        &:hover{
          background-color: #52a7c7;
        }
    }

    &.btn-danger {
        background: #b33434;
        border-color: #b33434;
        &:hover{
          background-color: #ca5252;
        }
    }
}


//Custom
a.button {
    color: #fff;
    border-color: #fff;
    &:hover {
        background-color: #fff;
        color: $brandPrimary;
    }
    &.button-inverted {
        background-color: $brandPrimary;
        color: #fff;
        &:hover{
            background-color: #fff;
            color: $brandPrimary;
        }
    }
}


.documentation {
    h1, h2, h3, h4, h5 {
        color: $brandPrimary;
    }

    p , table, ul{
        code {
            color:  #ff3f3e;
        }
    }
}

//Breadcrumbs
ol.breadcrumb {
    background: #fff;
}

//Intro call to action blocks
.into-call-to-action-block {
    h2 {
        background: #fff;
        color: $brandPrimary;
        border-bottom: 1px solid $brandPrimary;
    }
    p {
        background: #fff;
        color: #000;
    }
    a {
        color: $brandPrimary;
    }
}

//Course Container
.course-container {
    .course {
        background: #fff;
        .title {
            background: $brandPrimary;
            color: #fff;
            margin: 0;
        }
        ul.videos{
            width: 100%;
            padding: 20px;
            background: #fff;
            li {
                width: 100%;
                background: #ebebeb;
                a {
                    color: $brandPrimary;
                    &.watch {
                        border: 1px solid $brandPrimary;
                        &:hover{
                            background: $brandPrimary;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

.box-content-container {
    .box-content {
        color: #fff;
        background-color: $brandPrimary;
        margin: 0 0 20px 0;
        a {
            color: #fff;
            text-decoration: underline;
        }
    }
}

//Example of a sub page
.page-content {
    background: #fff;
    .sidebar {
        background-color: #f7f7f7;
        .icon-link {
            color: $brandPrimary;
            span {
                background: $brandPrimary;
                color: #fff;
            }
            &:hover {
                color: $brandPrimaryHover;
                span {
                    background-color: $brandPrimaryHover;
                }
            }
        }

        ul a {
            color: $brandPrimary;
            &:hover {
                color: $brandPrimaryHover;
            }
        }
        .sidebar-content-block {
            background: $brandPrimary;
            color: #fff;
            a {
                border: 1px solid #fff;
                color: #fff;
            }
        }
    }
    .main-content .heading {
        background-color: #fff;
        border-bottom: 1px solid #f1f1f1;
    }
    .main-content .content {
        background-color: #fff;
        code {
            background: #f1f1f1;
        }
        pre {
            background-color: #2d4159;
            //(dan): make pre.code because multi-line <code> displays isn't possible otherwise, and I really want that sorta styling
            &.code {
                background: #f1f1f1;
                // line-height: 40px;
                display: block;
                border-left: 4px solid #007bff;
                color: #e83e8c;
                padding: 10px 0 10px 20px;
                margin: 0 0 20px 0;
                pre {
                    background: none;
                }
            }
            code {
                color: #fff;
                background: none;
                opacity: 0.9;
            }
        }
    }
}

.apply-content {
    margin: 50px auto;
    text-align: center;
    .main-content .content {
        padding: 25px 0 0 0;
    }
}

.news-container .news-post,
.documentation-latest-container .documentation-post  {
    background: #fff;
    .title a,
    .read-more {
        color: $brandPrimary;
        &:hover {
            color: $brandPrimaryHover;
        }
    }
    .project-links li a {
        color: $brandPrimary;
        &:hover {
            color: $brandPrimaryHover;
        }
    }
}

.contribute-container {
    background-color: $brandPrimary;
    color: #fff;
    border-radius: 0.1em;
    padding: 0.7em 1em;
    .title {
        border-bottom: 1px solid rgba(255,255,255,0.5);
    }
    .content ul .icon-link  {
        a {
            color: #fff !important;
            span {
                background-color: #fff;
                i {
                    color: $brandPrimary;
                }
            }
        }
    }
}

.contribute-content {
    margin-top: 0.37em;
    font-weight: 300;
    h4 {
        font-size: 1.4em;
        margin-bottom: 10px;
        font-weight: 400;
    }
    p {
        line-height: 1.4;
        margin-bottom: 0.7em;
    }
    ul {
        margin: 1em 0 2em 0;
        padding: 0;
        li {
            margin: 0 0 1.5em 0;
            opacity: 1;
            list-style: none;
            padding-left: 2.5em;
            color: #061417;
            transition: 0.2s color;
            &:last-child {
                margin-bottom: 0;
            }
            .fas {
                position: absolute;
                margin-left: -2.5em;
                margin-top: 0.05em;
                background: #fff;
                border-radius: 50%;
                font-size: 1em;
                color: #4294a8;
                width: 2em;
                height: 2em;
                line-height: 2em;
                text-align: center;
            }
            &:hover {
                color: #111;
            }
        }
    }
    .button {
        background: #4294a8;
        border: 0.1em #3d8da0 solid;
        display: block;
        text-align: center;
        margin: 0 0.5em;
        &:hover {
            background: #358194;
            border-color: #2b6f80;
            text-decoration: none;
            color: #fff;
        }
        &.disabled {
            background: #949899;
            border-color: #868b8c;
            cursor: default;
            &:hover {
                background: #949899;
                border-color: #868b8c;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .docs-homepage-container .cta-box-content p {
        font-size: 0.8em;
    }
    .docs-homepage-container .intro-container,
    .intro-container {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 850px) {
    .contribute-content {
        h4 {
            font-size: 1.5em;
            text-align: center;
            width: 100%;
        }
    }
}

.main-content .project-title {
    margin-top: -10px;
    margin-bottom: 20px;
    font-size: 2em;
    cursor: default;
    font-weight: 400;
}

.project-post {
    background: #f7f7f7;
    border-radius: 0.1em;
    padding: 0.8em 1em;
    + .project-post {
        margin-top: 1.5em;
    }
    h4 {
        margin-bottom: 0.2em;
        font-weight: 400;
        a {
            color: #0c505f;
        }
    }
    p {
        line-height: 1.6;
        padding-bottom: 0;
        margin-bottom: 0;
        + p {
            margin-top: 0.5em;
        }
    }
    .project-links {
        text-align: right;
        padding-top: 15px;
        border-top: 1px solid #364d5f;
        margin-bottom: 10px;
        margin-top: 20px;
        a{
            margin-left: 0.8em;
            color: #000;
            padding: 6px 12px;
            border: 1px solid #000;
            border-radius: 5px;
            font-size: 0.8em;
        }
        i {
            padding-right: 0.3em;
            text-decoration: none;
        }
    }

    .project-logo {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-around;
        &.placeholder {
            background: #2a313429;
            height: 100%;
            width: 100%;
            border-radius: 0.7em;
        }
    }

    .inspircd-logo {
        background: url("/assets/project_logos/inspircd_pattern_light.png"), #2b333d;
        border-radius: 0.7em;
        width: 100%;
        height: auto;
        display: block;
        text-align: center;
        img {
            padding: 0.8em 0.5em 0.5em 0.6em;
            max-width: 90%;
            max-height: 80%;
        }
    }
}

@media screen and (max-width: 850px ){
    .project-post {
        .project-logo {
            max-width: 80%;
            margin-bottom: 10px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        h4 {
            width: 100%;
            text-align: center;
            font-size: 2em;
        }
        p {
            font-size: 1.2em;
            line-height: 1.8em;
        }
        .project-links {
            padding-bottom: 10px;
        }
        .project-links a {
            float: right;
            font-size: 1.1em;
        }
        .project-links a:first-of-type {
            float: left;
            margin-left: 0;
        }
    }
}

.docs {
    p {
        line-height: 1.8;
    }
    h2, h3 {
        font-weight: 300;
    }
    h3 {
        font-size: 1.65em;
        margin-top: 0.7em;
        margin-bottom: 0.5em;
        color: #3072ba;
        a {
            color: #3072ba;
            &:hover {
                text-decoration: none;
            }
        }
    }
    h2 a {
        color: #111;
        &:hover {
            text-decoration: none;
        }
    }
    hr + h3 {
        margin-top: -0.25em;
    }
}

.page-content .main-content .content {
    li, p {
        code, tt {
            font-size: 0.9em;
            color: #333;
            background: none;
            padding: 0 1px 0 2px;
            margin: 0;
        }
    }
    p a code {
        margin: 0;
        display: inline;
    }
}

pre.format {
    margin-bottom: 1em;
}
.page-content .main-content .content pre {
    max-height: 50vh;
}
.example-desc {
    margin-top: 0.5em;
}

.contributors-tags {
    font-size: 1.2em;
    margin-top: -0.2em;
    font-weight: 300;
}
.contributors-tags, .contributors-links {
    padding-bottom: 0.3em;
    .contributors-slash {
        opacity: 0.3;
    }
    a + a {
        padding-left: 0.75em;
    }
    .irc-nick {
        color: #333;
        .fas {
            color: #bbb;
        }
        &:hover {
            text-decoration: none;
        }
        cursor: default;
    }
}

// compat list
.compatibility-list {
    display: flex;
    flex-wrap: wrap;
    background: #f1f1f1;
    border-radius: 0.2em;
    text-align: center;
    padding: 0 1em 1em;
    .item {
        display: flex;
        flex-direction: column;
        margin-right: 1px;
        text-decoration: none;
        .name {
            white-space: nowrap;
            padding: 0.7em 1.2em;
            margin-top: 0.2em;
            font-weight: 500;
            color: #111;
        }
        .status {
            padding: 0.5em 0.2em;
            background: #bdbfc2;
            color: #fff;
            transition: background-color 0.08s;
            &.supported {
                background: #5ea92f;
            }
            &.not-supported {
                background: #a92f2f;
            }
        }
        &:hover .status {
            &.supported {
                background: #519824;
            }
            &.not-supported {
                background: #902020;
            }
        }
    }
}

.dev-search-no-results {
    padding: 1em 0;
}
.dev-search-results {
    > a {
        display: block;
        color: #333;
        margin: 0 -15px;
        padding: 0.8em 15px 0.5em;
        transition: background 150ms;
        &:first-child {
            padding-top: 1em;
        }
        &:last-child {
            padding-bottom: 1em;
        }
        &:hover {
            text-decoration: none;
            background: #d9e9fd;
        }
        &:nth-child(2n) {
            background: #eaf3ff;
            &:hover {
                background: #d9e9fd;
            }
        }
        h2 {
            font-size: 1.4em;
            cursor: pointer;
            color: #007bff;
        }
        p:last-child {
            margin-bottom: 0;
        }
    }
}


//Reusebale Components
.main-content .video-container .content{
    background: #f7f7f7;
}

// custom header linking
.dev {
    h1, h2, h3, h4 {
        .internal-link {
            color: #373d44;
            display: block;
            .fa-link {
                opacity: 0;
                float: right;
            }
        }
        &:hover .internal-link .fa-link {
            opacity: 0.35; // so the link icons don't take precedence over the actual titles
        }
        .header-link-expander {
            position: relative;
            top: -6rem;
            width: 0;
            height: 1px;
        }
    }
}

header .logo .logospecific {
    color: #7eaed4;
}
header .logo:hover .logospecific {
    color: #007bff;
}

.alert.experimental {
    display: flex;
    > .icon {
        flex: 0 0 none;
        padding-right: 10px;
    }
    > .description {
        flex: 1 1 auto;
    }
}


code.nocolor {
    color: inherit;
    &.grey {
        color: #888;
    }
}

.page-content .main-content .content hr {
    border-radius: 0.5em;
    background: none;
    border: none;
    margin: 2em 0 0.5em;
}


@media screen and (max-width: 1198px) {
    .dev_home .call-to-action-block .content p{
        line-height: normal;
        font-size: 14px;
    }
}

@media screen and (max-width: 995px) {
    .dev_home .call-to-action-block .title h2 {
        font-size: 1.2em;
        line-height: normal;
    }
    .dev_home .call-to-action-block .title h2 i {
        display: block;
        margin: 0 auto 5px auto;
        float: none;
        clear: both;
    }

    .dev_home .call-to-action-block .content {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 600px) {
    .docs-homepage-container
    .intro-container
    .subtitle {
        margin-top: 10px!important;
        margin-bottom: 20px !important;
        line-height: 1.5em;
    }
    .docs-homepage-container {
        height: 100%;
    }
    .box-content-container {
        padding-bottom: 50px;
    }
    .box-content-container .row .content-boxes {
        margin-top: 20px!important;
    }
}
