---
---

$headerButtonColour: #8AC60F;

$iconColour: #CCE0F1;

$darkerGrayFontColour: #696969;

$linkColour: #5F9EA0;
$linkColourActive: #20B2AA;

$lightGray: rgb(236, 236, 236);

$boxShadow: #A9A9A9;

$actionButton: #88A6CF;

$newsletterBackground: #1B2833;

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

h1, h2, h3, h4, h5 {
    font-family: inherit;
}

//Home (Stage 1) header
.home-header-s1 {
    padding: 1em;
    padding-top: 160px;
    width: 100%;
    min-height: 90vh;
    height: 100%;
    background: linear-gradient(120deg, #1F3241, #455E6E 70.71%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .header-max-width {
        width: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        .header-content {
            margin: 0 auto;
            color: #fff;
            text-align: center;
            h3 {
                font-weight: 200;
                text-align: center;
                margin: 0;
                padding: 0;
                text-transform: uppercase;
            }
            .intro-par {
                font-weight: 200;
                margin-top: 20px;
                margin-bottom: 40px;
                line-height: 24px;
                font-size: 16px;
                a {
                    color: #fff;
                    text-decoration: underline;
                    transition: 0.5s;
                    &:hover {
                        text-decoration: none;
                        color: lightgray;
                        transition: 0.5s;
                    }
                }
            }
            div {
                margin-bottom: 40px;
            }
            div p {
                font-weight: 200;
                text-align: center;
                margin-top: 0;
                margin-bottom: 0;
                line-height: 24px;
            }
            div:nth-last-child(2) {
                margin-bottom: 10px;
            }
            div a.view-irc-docs {
                margin: 0;
                display: inline-block;
                text-align: center;
                padding: 1em 1.5em;
                color: #fff;
                border: 1px solid #fff;
                font-size: 1em;
                transition: 0.3s;
                line-height: normal;
                border-radius: 0.2em;
                &:hover {
                    text-decoration: underline;
                    transition: 0.3s;
                }
            }
            div h6 a {
                color: #fff;
                font-weight: 200;
                font-size: 12px;
                text-decoration: underline;
                transition: 0.5s;
                &:hover {
                    text-decoration: none;
                    color: lightgray;
                    transition: 0.5s;
                }
            }
        }
    }
}

//Home (Stage 2) header
.home-header {
    padding: 1em;
    width: 100%;
    position: relative;
    min-height: 90vh;
    height: 100%;
    background: linear-gradient(120deg, #1F3241, #455E6E 70.71%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    .header-max-width {
        max-width: 900px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        z-index: 4;
        .header-content {
            width: 50%;
            min-width: 300px;
            color: #fff;
            h2 {
                font-weight: 300;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                &:first-child {
                    margin-top: 10px;
                }
            }
            p {
                font-weight: 300;
                margin-top: 20px;
                line-height: 24px;
                font-size: 16px;
            }
            a.launch-chat {
                margin: 0;
                background-color: $headerButtonColour;
                cursor: pointer;
                display: inline-block;
                text-align: center;
                padding: 0.8em 1.1em;
                color: #fff;
                font-size: 1em;
                transition: 0.5s;
                font-weight: 400;
                border-radius: 0.1em;
                &:hover {
                    text-decoration: none;
                    color: lightgray;
                    transition: 0.5s;
                }
            }
        }
    }
    .header-desktop-image {
        z-index: 2;
        background-color: $lightGray;
        border: 15px solid #000;
        border-radius: 20px;
        position: absolute;
        bottom: -15px;
        right: -20px;
        height: 500px;
        width: 450px;
    }
    .header-mobile-image {
        z-index: 3;
        background-color: $lightGray;
        border-radius: 30px;
        border: 10px solid #000;
        position: absolute;
        bottom: -30px;
        right: 300px;
        height: 300px;
        width: 220px;
    }
}

@media only screen and (max-width: 1300px) and (orientation: landscape) {
    .home-header {
        min-height: 400px;
        .header-max-width {
            padding-top: 20px!important;
        }
    }
}

@media screen and (max-width: 1300px) {
    .header-max-width {
        width: 500px!important;
    }
    .header-desktop-image {
        border-width: 13px!important;
        bottom: -13px!important;
        right: -120px!important;
        height: 350px!important;
    }
    .header-mobile-image {
        border-width: 8px!important;
        position: absolute;
        bottom: -25px!important;
        right: 250px!important;
        height: 250px!important;
        width: 170px!important;
    }
}

@media screen and (max-width: 1050px) {
    .header-desktop-image {
        border-width: 10px!important;
        bottom: -10px!important;
        right: -180px!important;
        height: 300px!important;
    }
    .header-mobile-image {
        border-width: 8px!important;
        position: absolute;
        bottom: -25px!important;
        right: 200px!important;
        height: 200px!important;
        width: 120px!important;
    }
}

@media screen and (max-width: 850px) {
    .header-max-width {
        width: 300px!important;
    }
    .header-desktop-image {
        right: -230px!important;
    }
    .header-mobile-image {
        right: 140px!important;
    }
}

@media screen and (max-width: 750px) {
    .header-desktop-image {
        right: -280px!important;
    }
    .header-mobile-image {
        right: 70px!important;
    }
}

@media screen and (max-width: 700px) {
    .header-desktop-image {
        right: -300px!important;
    }
}

@media screen and (max-width: 675px) {
    .home-header {
        justify-content: start;
        .header-max-width {
            padding-top: 70px;
            .header-content {
                min-height: 665px;
                width: 100%;
                min-width: 0;
                h2 {
                    margin: auto;
                    max-width: 90%;
                    span {
                        width: 100%;
                    }
                }
                p {
                    font-weight: 300;
                    font-size: 18px;
                    margin: 1em auto;
                    max-width: 90%;
                }
                a {
                    margin: 1em auto!important;
                }
            }
        }
        .header-desktop-image {
            border-width: 10px!important;
            bottom: -20px!important;
            right: -100px!important;
            height: 250px!important;
            width: 325px!important;
        }
        .header-mobile-image {
            border-width: 8px!important;
            position: absolute;
            bottom: -25px!important;
            height: 110px!important;
            width: 170px!important;
        }
    }
}

//App showcase
.home-app-showcase, .home-cta {
    min-height: 450px;
    .intro {
        min-height: 450px;
        padding-top: 2em;
        padding-bottom: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 900px;
        margin: 0 auto;
        h1 {
            font-weight: 300;
            text-align: center;
        }
        p {
            font-weight: 300;
            color: $darkerGrayFontColour;
            max-width: 650px;
            text-align: center;
            margin: 0 auto;
            line-height: 26px;
            padding-right: 1em;
            padding-left: 1em;
        }
        div {
            font-weight: 300;
            padding-top: 1em;
            font-size: 22px;
            text-align: center;
            a {
                color: $linkColour;
                border-bottom: 2px solid $linkColour;
                transition: 1s;
                &:hover {
                    color: $linkColourActive;
                    border-bottom: 2px solid $linkColourActive;
                    text-decoration: none;
                    transition: 1s;
                }
            }
        }
    }

    .app-examples {
        min-height: 300px;
        display: flex;
        width: 100%;
        padding-right: 1em;
        padding-left: 1em;
        justify-content: center;
        flex-direction: column;
        .content {
            display: flex;
            flex-direction: row;
            max-width: 1200px;
            width: 100%;
            margin: 0 auto;
            margin-bottom: 10em;
            justify-content: space-between;
            &.space-around {
                justify-content: space-around;
                align-items: center;
            }
            .app-example-content {
                max-width: 350px;
                width: 35%;
                h4, p {
                    font-weight: 300;
                    line-height: 26px;
                }
                .example-blurb {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 1em;
                    justify-content: space-between;
                    position: relative;
                    i {
                        display: block;
                        width: 30%;
                        color: $iconColour;
                    }
                    div {
                        padding-top: 10px;
                        font-weight: 300;
                        width: 70%;
                        h5 {
                            font-weight: 500;
                            padding: 0;
                            margin: 0;
                        }
                        button.example-button {
                            background-color: $actionButton;
                            width: 200px;
                            height: 40px;
                            border: 0;
                            border-radius: 2px;
                            color: #fff;
                            cursor: pointer;
                            transition: 0.5s;
                            &:active {
                                box-shadow: inset 0 0 10px #000;
                            }
                            &:hover {
                                color: lightgray;
                                transition: 0.5s;
                            }
                        }
                    }
                    &:last-child {
                        justify-content: center;
                        i {
                            display: none;
                        }
                        button {
                            margin: 0 auto;
                        }
                    }
                }
            }
            .app-example-desktop-view {
                width: 750px;
                height: 750px;
                background-color: $lightGray;
                box-shadow: 5px 2.5px 2.5px 1.8px $boxShadow;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                text-align: center;
                margin-left: 3em;
                justify-content: center;
                h1 {
                    font-weight: 300;
                    padding: 0;
                    margin: 0;
                }
            }
            .app-example-mobile-view {
                width: 280px;
                background-color: $lightGray;
                box-shadow: 5px 2.5px 0.5px 1.8px $boxShadow;
                height: 550px;
                border-radius: 10px;
                display: flex;
                margin-right: 1em;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                h3 {
                    font-weight: 300;
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .app-examples {
        margin-top: 1em;
        padding: 0!important;
        .content {
            flex-direction: column!important;
            .app-example-content {
                margin: 0 auto;
                width: 90%!important;
            }
            .app-example-desktop-view {
                position: relative!important;
                min-height: 330px!important;
                margin: 0 auto!important;
                width: 100%!important;
                margin-top: 1em!important;
                margin-bottom: 2em!important;
            }
            .app-example-mobile-view {
                position: relative!important;
                // min-height: 330px!important;
                margin: 0 auto!important;
                order: 2;
                margin-top: 1em!important;
                margin-bottom: 2em!important;
            }
        }
    }
}

.home-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $lightGray;
    padding-top: 100px;
    padding-bottom: 100px;
    .intro p {
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 850px) {
    .home-cta {
        div {
            min-width: 200px!important;
            form {
                width: 90%!important;
                margin: 0 auto!important;
            }
        }
    }
}

.home-newsletter {
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $newsletterBackground;
    color: #fff;
    div {
        min-width: 250px;
        margin: 0 auto;
        h1, h6 {
            font-weight: 300;
            text-align: center;
            padding-top: 10px;
        }
        h6 {
            font-size: 12px;
        }
        form {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #fff;
            input {
                background-color: transparent;
                color: #fff;
                border: 0;
                width: 100%;
                &:nth-child(2) {
                    font-weight: 300;
                    width: 30%;
                    min-width: 150px;
                    line-height: 50px;
                    cursor: pointer;
                    border-top: 1px solid #fff;
                    border-right: 1px solid #fff;
                    border-left: 1px solid #fff;
                    padding-left: 20px;
                    padding-right: 20px;
                    transition: 1s;
                    &:hover {
                        background-color: gray;
                        transition: 1s;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .home-newsletter {
        div {
            min-width: 200px!important;
            form {
                width: 90%!important;
                margin: 0 auto!important;
            }
        }
    }
}

.home-footer {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
        font-weight: 300;
        text-align: center;
    }
}
