---
---

$comHeaderColour: #78d5e4;
$socialHeaderColour: #74a8cb;

header, header .header-dropdown-menu, footer, .full-width-page-header, .full-width-search-bar {
    background-color: #2a3135;
}
header .logo-part, header .desktop-nav a:hover {
    color: $comHeaderColour;
}
.full-width-page-header, .full-width-search-bar {
    color: #fff;
    background: #314157;
}
body.index {
    header .logo-part, header .desktop-nav a:hover {
        color: $socialHeaderColour;
    }
    .full-width-page-header, .full-width-search-bar {
        color: #fff;
    }
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header, footer {
    flex: 0 0 auto;
}
#center-content {
    flex: 1 1 auto;
    height: 100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    background: #ececec;
    font-family: 'Roboto', sans-serif;
}


//Main content
h1,h2,h3,h4,h5 {
    cursor: default;
    font-weight: 900;
}

h1 {
    font-size: 3em;
}
h2 {
    font-size: 2.4em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.6em;
}
h5 {
    font-size: 1.2em;
}

p {
    font-size: 1em;
    line-height: 2em;
    margin-bottom: 20px;
}

ul, ol {
    display: inline-block;
    padding-left: 1em;
    li {
        margin: 0 0 10px 0;
        cursor: default;
    }

    &.breadcrumb li {
        margin-bottom: 0;
    }
}

tt {
    font-size: 87.5%;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}


//Helpers
img {
    max-width: 100%;
}

.align-text-center {
    text-align: center;
}


.full-width-page-header {
    h1 {
        font-weight: 300;
    }
    .h1sub {
        font-size: 1.2em;
        font-weight: 300;
        opacity: 0.8;
        margin-top: 0.2em;
        margin-bottom: -0.2em;
    }
}


//Header
header {
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;

    .container {
        display: flex;
        align-items: center;

        a.logo {
            flex: 0 0 auto;
            font-size: 1.8em;
            font-weight: 500;
            color: #fff;
            text-decoration: none;
            white-space: nowrap;
            .logo-img {
                height: 1.5em;
                position: relative;
                top: 0.4em;
            }
            .logo-text {
                display: inline-block;
                padding: 0.6em 0;
            }
        }
        .desktop-nav {
            width: 100%;
            flex: 1 1 auto;
            text-align: right;

            a {
                transition: color 0.2s;
                color: #fff;
                font-weight: 100;
                text-decoration: none;
            }

            > a, > div.dropdown-toggle-custom {
                color: #fff; // for the dropdown toggle div
                display: inline-block;
                font-size: 1.1em;
                padding: 0.5em 0.4em;
                user-select: none;
                font-weight: 100;
                cursor: pointer;
                font-size: 0.8em;
                letter-spacing: 1px;
                text-transform: uppercase;
                &:last-child {
                    padding-right: 0;
                }
                .header-dropdown-menu {
                    display: none;
                    &.dropped {
                        display: block;
                    }
                    position: absolute;
                    text-align: left;
                    padding: 0 1em;
                    margin-left: -1em;
                    border-radius: 0 0 0.25rem 0.25rem;
                    a {
                        display: block;
                        padding: 0.25em 0;
                        &:first-child {
                            padding-top: 0.5em;
                        }
                        &:last-child {
                            padding-bottom: 0.5em;
                        }
                    }
                }
                i {
                    font-size: 1.2em;
                    margin-left: 10px;
                }
            }
            > .dropdown-toggle-custom:hover .header-dropdown-menu {
                display: block;
            }
        }

        .mobile-nav-button {
            display: none;
            color: #fff;
            text-align: right;
            width: 100%;
            flex: 1 1 auto;
            font-size: 1.4em;
            padding: 0.3em 0 0.3em 0.3em;
            cursor: pointer;
        }
    }

    .update-bar {
        display: flex;
        width: 100%;
        height: 30px;
        .update-info {
            margin: 0 auto;
            min-width: 100px;
            width: 960px;
            text-align: right;
            padding-right: 2em;
            > a > h6 {
                cursor: pointer;
                font-weight: 100;
                color: #fff;
                display: inline-block;
                font-size: 0.8em;
                letter-spacing: 1px;
                text-transform: uppercase;
                > a:hover {
                    text-decoration: none;
                }
            }
        }
    }

    #header-mobile-nav {
        visibility: hidden;
        display: block;
        position: absolute;
        left: 100vw;
        transition: left 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
        top: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(20, 20, 20, 0.85);
        backdrop-filter: blur(0.35rem); // not supported in anything else yet, whoo!
        -webkit-backdrop-filter: blur(0.35rem); // not supported in anything else yet, whoo!

        .close-sidebar {
            text-align: right;
            color: rgba(255, 255, 255, 0.8);
            font-size: 1.7em;
            padding: 0.7em 0.575em;
            margin-right: 15px;
            cursor: pointer;
        }
        .link-container {
            font-size: 1.4em;
            padding: 0 15px;
            a {
                color: rgba(255, 255, 255, 0.8);
                display: block;
                text-align: center;
                padding: 0.25em 0;
            }
            hr {
                border: none;
                border-top: 1px solid rgba(255, 255, 255, 0.2);
            }
        }
    }

    @media (max-width: 35rem) {
        .mobile-nav-button {
            display: inline-block !important;
        }
        .desktop-nav {
            display: none;
        }
        #header-mobile-nav {
            visibility: visible;
            &.shown {
                left: 0;
            }
        }
    }
}

.intro-container {
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    overflow: hidden;
    margin: 0 0 50px 0;
    padding-top: 110px;
    z-index: 0;

    &.full-height {
        max-height: 100vh;
        height: 100vh;
        min-height: 600px;
        margin: 0;
    }

    //The content
    .intro-container-content {
        max-width: 800px;
        z-index: 3;
        padding-top: 50px;
        padding-bottom: 50px;
        position: relative;
        margin: 0 auto;
        h1 {
            margin: 0 0 30px 0;
            font-weight: 100;
            padding-left: 5px;
            padding-right: 5px;
            text-transform: uppercase;
        }
        p {
            margin: 0 0 20px 0;
            &.small {
                font-size: 0.8em;
            }
        }
        a {
            color: #fff;
            text-decoration: underline;
        }
    }

    .container {
        z-index: 10;
    }

    .call-to-action-block {
        display: block;
        text-align: center;

        .title {
            width: 100%;
            display: block;
            padding: 10px 10px;
            i {
                line-height: 50px;
                width: 50px;
                background-color: #fff;
                color: #000;
                border-radius: 50%;
            }
            h2 {
                font-size: 1.4em;
                margin: 5px 0 5px 0;

                i {
                    margin-right: 10px;
                }
            }
        }
        .content {
            display: block;
            padding: 10px;
            p {
                font-weight: 600;
                text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
            }
        }
        a {
            display: inline-block;
            clear: both;
            color: #000;
            background: #fff;
            font-weight: 600;
            border-radius: 3px;
            line-height: 40px;
            max-width: 200px;
            text-align: center;
            width: 100%;
            margin: 0 auto;
            text-decoration: none;
            border: 1px solid #fff;
            transition: all 0.1s;
            &:hover {
                text-decoration: underline;
                background: #fff;
                color: #81acce;
            }
        }
    }

    form {
        display: block;
        width: 100%;
        margin: 0 auto;
        max-width: 550px;
        .input-container{
            display: block;
            width: 100%;
            margin: 0 0 10px 0;
            position: relative;
            input[type="text"]{
                width: 100%;
                line-height: 40px;
                height: 40px;
                padding: 0 20px;
                @media screen and (max-width: 850px) {
                    font-size: 0.7em;
                    text-align: left;
                    padding: 0 10px;
                }
            }
            &:after {
                content: "\f002";
                font-weight: 600;
                position: absolute;
                font-family: "Font Awesome 5 Free";
                right: 10px;
                top: 0;
                font-size: 1.4em;
                line-height: 44px;
                color: #000;
                opacity: 0.6;
            }
        }
    }

    .dev-information-block {
        display: block;
        margin: 80px auto 0 auto;
        border: 1px solid #fff;
        text-align: left;
        max-width: 550px;
        .title {
            width: 100%;
            padding:  20px;
            border-bottom: 1px solid #fff;
            i {
                margin-right: 10px;
            }
        }
        .content {
            width: 100%;
            padding: 20px;
            p {
                font-size: 0.8em;
                margin: 0;
            }
        }
    }

    //The phone display
    .phone-screenshot-container {
        display: block;
        margin: 20px auto 20px auto;
        height: 400px;
        width: 220px;
        border-radius: 6px;
        background-color: #eee;
    }

    .button.social-call-to-action {
        margin-bottom: 50px;
        text-decoration: none;
        font-weight: normal;
        line-height: normal;
        border-radius: 2px;
        padding: 10px 20px 8px 20px;
    }

    &.has-call-to-action-blocks {
        margin-bottom: 100px;
    }

    &.margin-top {
        margin-top: 100px;
    }
}


//Into Call to action blocks
.intro-call-to-action-container {
    position: absolute;
    bottom: -75px;
    left: 0;
    width: 100%;

    .into-call-to-action-block{
        h2 {
            font-size: 1.2em;
            font-weight: 600;
            padding: 10px 20px;
            margin: 0 ;
        }
        p {
            padding: 20px;
            height: 130px;
        }
        a {
            text-decoration: underline;
        }
    }
}


//Call To Action Blocks
.call-to-action-block-container {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    margin-top: -50px;

    .call-to-action-icon {
        text-align: center;
        margin-top: 20px;
        cursor: default;
        i {
            font-size: 4.5em;
            margin: 0 0 10px 0;
        }
        p.title {
            font-size: 1.4em;
            font-weight: 600;
            margin: 0 0 10px 0;
        }
        p {
            margin: 0 0 10px 0;
        }
        a {
            text-decoration: underline;
            &.button {
                text-decoration: none;
            }
        }
    }
}


//Form Container
.form-container {
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;

    label, legend {
        margin: 0 0 5px 0;
        font-weight: 600;
    }

    .form-check label {
        font-weight: normal;
    }

    small {
        font-size: 0.8em;
    }

    //Style the inputs to be more IRC like
    .form-control {
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #c1c1c1;
        transition: border-bottom 0.2s;
        &:focus {
            box-shadow: none;
            border-color: #213442;
            transition: all 0.3s;
        }
    }

    //Give form backgrounds a colour
    textarea.form-control,
    select.form-control[multiple]{
        border: 1px solid #c1c1c1
    }
}


//Screenshot section
.screenshot-container {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

    .screenshot {
        display: inline-block;
        margin: 0 auto 20px auto;
        border-radius: 6px;
        width: 100%;
        background-color: #eee;
        transition: all 0.1s;
        cursor: pointer;

        &:hover {
            box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.2);
            transition: box-shadow 0.2s;
        }
    }
}


// Documentation
.documentation {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;

    h1, h2, h3, h4, h5 {
        margin: 0;
    }

    a{
        text-decoration: underline;
    }

    p , table,  ul{
        code {
            padding: 2px 8px;
            display: inline-block;
            background-color: #f6f8fa;
            margin: 0 2px;
        }
    }

    pre {
        overflow: auto;
        font-size: 85%;
        line-height: 1.45;
        background-color: #f6f8fa;
        border-radius: 3px;
        margin-bottom: 20px;
        code {
            display: inline;
            margin: 0;

        }
    }

    ul {
        display: block;
        padding: 10px 0 10px 1.5em;
        li {
            margin-bottom: 10px;
        }
    }

    table {
        display: block;
        width: 100%;
        overflow: auto;
        tr {
            background-color: #fff;
            border-top: 1px solid #c6cbd1;
        }
        tr:nth-child(2n){
            background: #f5f5f5;
        }
        td, th {
            padding: 15px;
            border: 1px solid #dfe2e5;
        }
    }
}


// IRC Courses container
.course-container {
    margin-bottom: 40px;

    .course {
        width: 100%;
        margin: 0 0 20px 0;

        .title {
            width: 100%;
            line-height: 60px;
            padding: 0 20px;
            font-size: 1.2em;
            cursor: pointer;

            i {
                float: right;
                margin-top: 22px;
                font-size: 1.5em;
            }
            &:hover{
                text-decoration: underline;
            }
        }
        .videos {
            display: none;
        }
        &.open {
            .title {
                i {
                    line-height: 50px;
                    margin: 0;
                }
            }
            .videos {
                list-style: none;
                display: block;
                li {
                    width: 100%;
                    margin: 0 0 10px 0;
                    line-height: 40px;
                    padding: 0 10px 0 20px;
                    .watch, .locked{
                        float: right;
                        line-height: 21px;
                        padding: 2px 10px;
                        border-radius: 4px;
                        font-size: 0.8em;
                        margin: 7px 0 0 0;
                        transition: all 0.3s;
                        i {
                            margin-left: 5px;
                            font-size: 0.8em;
                        }
                        &:hover{
                            transition: all 0.1s;
                        }
                    }
                }
            }
        }
    }
}


// Team section
.team-member {
    margin-bottom: 20px;
    .team-member-avatar {
        display: inline-block;
        width: 150px;
        height: 150px;
        background-color: #eee;
        background-size: cover;
        background-position: center center;
        border-radius: 50%;
        border: 1px solid #fff;
    }
    .team-member-name {
        margin-bottom: 0;
        font-size: 1.2em;
    }
    p {
        margin: 0 0 10px 0;
    }
}

//Box content container
.box-content-container {
    .box-content {
        text-align: center;
        p.title {
            width: 100%;
            line-height: 40px;
            border-bottom: 1px solid #fff;
            font-size: 1.4em;
            padding: 10px 20px;
            margin: 0;

            i {
                margin-right: 10px;
            }
        }
        .content {
            display: block;
            padding: 10px 20px;

            p {
                font-size: 0.9em;
                margin: 0 0 10px 0;
            }

            a {
                display: inline-block;
                padding: 10px 20px;
                width: 100%;
                margin: 0 0 5px 0;
                text-decoration: none;
                text-transform: none;
            }
        }
    }
}

.full-width-page-header {
    width: 100%;
    min-height: 230px; //(dan): I think this combo of min-height and max-height look a lot better than the page-covering stock one. if we do have a massive header we should make sure it's justified in some way (I think this constrained one is)
    max-height: 260px; //(dan): ^
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 0 40px 0;
    p{
        margin: 0;
    }
}
.full-width-search-bar {
    width: 100%;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 0 10px 0;
    p {
        margin: 0;
    }
    input {
        padding: 0.2em 0.5em;
        border: 1px solid #c6dff9;
        color: #121212;
        background: #e7eef5;
        height: 2.3em;
        width: 100%;
        max-width: 42em;
        border-radius: 0.2em;
    }
    .fa-search {
        font-size: 1.4em;
        position: absolute;
        color: #2a3135;
        opacity: 0.8;
        cursor: pointer;
        padding: 0.3em 0.5em;
        margin-left: -2em;
        background: #e7eef5;
    }
}

//Example of a sub page
.page-content {
    background: #fff;
    margin-bottom: 40px;

    .sidebar {
        display: block;
        background-color: #f7f7f7;
        padding-top: 20px;
        padding-bottom: 20px;
        min-height: 100%;

        p.title{
            font-size: 1.25em;
            font-weight: 400;
            margin: 0 0 3px 0;
        }

        .breadcrumbs {
            ul {
                width: 100%;
                padding: 0;
                margin: 0;
                li {
                    margin: 0 0 5px 0;
                    display: inline-block;
                    list-style: none;
                    font-weight: 400;
                    a {
                        font-weight: normal;
                        // text-decoration: underline; //(dan): I think the underline here looks very distracting. also, no other link in the sidebar has it (removing the underline makes it match the other links here style-wise)
                    }
                }
            }
        }

        ul {
            li {
                ul {
                    margin: 10px 0 0 0;
                    li:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .dropdown-list-container {
            display: block;
            width: 100%;
            height: auto;
            margin: 0 0 10px 0;
            .title {
                width: 100%;
                display: block;
                padding-right: 30px;
                position: relative;
                cursor: pointer;
                &:after {
                    content: "\f0dd";
                    position: absolute;
                    font-family: "Font Awesome 5 Free";
                    right: 5px;
                    top: 4px;
                    line-height: normal;
                }
            }
            ul {
                display: none;
            }
            &.active {
                .title:after{
                    content: "\f0de";
                    top: 4px;
                    font-weight: 600;
                    display: none;
                }
                ul {
                    list-style: none;
                    display: block;
                    padding-left: 0;
                }
            }
        }

        .sidebar-content-block {
            padding: 20px;
            text-align: center;
            p {
                font-size: 0.8em;
                margin: 0;
                &.title {
                    font-size: 1em;
                }
            }
            a {
                display: block;
                line-height: 30px;
                padding: 2px 10px;
                border-radius: 4px;
                margin: 7px 0 0 0;
                transition: all 0.3s;
                i {
                    margin-left: 5px;
                    font-size: 0.8em;
                }
                &:hover{
                    transition: all 0.1s;
                }
            }
        }
    }
    .main-content .heading {
        background-color: #fff;
        padding: 20px 0;
        margin-bottom: 20px;
        border-bottom: 1px solid #f1f1f1;
        h1,h2,h3,h4,h5 {
            margin-bottom: 0;
        }
        p {
            margin-bottom: 0;
        }
    }
    .main-content .content {
        //(dan): because otherwise if the content's the first thing on the page it looks really weird and off-balance
        &:first-child{
            padding-top: 30px;
        }
        background-color: #fff;
        padding-bottom: 40px;
        code {
            padding: 5px 10px;
        }
        pre {
            // height: 150px; //(dan): same as below with .example's forced min-height. if this should be a max-height with an overflow-y: scroll though then I can see it
            max-height: 150px; //(dan): do what I think the height above was trying to do in a better way
            overflow-y: auto; //(dan): ^
            overflow-x: auto;
            border-radius: 2px;
            min-height: 0px;
            line-height: 1.4em;
            code {
                margin: 0;
                padding: 0;
            }

            &.example, &.format {
                // min-height: 100px; //(dan): no reason for this to be the case, particularly if the example _is_ very small. appears to be padding for no reason if the example is e.g. one or two lines
                padding: 20px 0 20px 30px; //(dan): necessary to indent and display properly
            }
            // make format use just the standard colours
            &.format {
                background-color: #f1f1f1;
                code {
                    color: #e83e8c;
                }
            }
        }

        code.full-width {
            line-height: 40px;
            width: 100%;
            display: block;
            border-left: 4px solid #007bff;
            padding-left: 20px;
            margin: 0 0 10px 0;
            pre {
                background: none;
            }
        }

        a code {
            margin: 0 0 10px 0;
            display: inline-block;
            clear: both;
        }

        .supported-table {
            width: 100%;
            background: #f1f1f1;

            thead th {
                text-align: center;
                padding: 10px;
                border-right: 1px solid #f1f1f1;
                border-bottom: 1px solid #f1f1f1;
            }

            td {
                padding: 10px 20px;
                text-align: center;
                border-right: 1px solid #f1f1f1;
            }

            .supported {
                background: #5ea92f;
                color: #fff;
            }
            .not-supported {
                background: #a92f2f;
                color: #fff;
            }
        }

        hr {
            background: #007bff;
            height: 2px;
            margin: 40px 0;
            display: block;
            opacity: 0.4;
        }
    }
    img {
        height: auto;
        max-width: 100%;
    }
}

.news-container ,
.project-container ,
.documentation-latest-container {
    margin-top: 60px;
    margin-bottom: 60px;

    h2 {
        margin-bottom: 0;
    }

    .news-post,
    .project-post,
    .documentation-post {
        width: 100%;
        margin-bottom: 20px;
        .title {
            width: 100%;
            padding: 20px;
            border-bottom: 1px solid rgba(0,0,0,0.2);
            h4 {
                width: 100%;
                font-weight: 600;
                padding: 0;
                margin: 0;
                span {
                    float: right;
                    opacity: 0.8;
                    font-size: 0.6em;
                    line-height: 2.5em;
                }
            }
        }
        .content {
            padding: 20px;
        }
        .read-more {
            display: inline-block;
            width: 100%;
            text-align: right;
            font-weight: 600;
            i {
                margin-left: 10px;
            }
        }

        .project-links {
            width: 100%;
            margin: 0;
            padding: 0;
            text-align: right;
            li {
                display: inline-block;
                margin: 0 0 0 20px;
                padding: 0;
                a {
                    text-decoration: none;
                    i {
                        margin-right: 10px;
                    }
                }
            }
        }

        .project-post {
            .content {
                padding-bottom: 0;
            }
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .sidebar-container {
        position: relative;
        .contribute-container {
            position: sticky;
            top: 120px;
            ul .icon-link {
                margin-bottom: 10px;
            }
            .button {
                font-size: 1em;
                display: block;
                margin: 0 auto 20px auto;
            }
        }
    }

    .contribute-container {
        .title {
            padding: 23px 20px;
            font-weight: 600;
        }
        .content {
            padding: 10px 20px;

            ul {
                width: 100%;
                padding: 0;
            }
        }
    }
}

.project-container {
    margin-top: 130px;
}


//Reuseable content
.video-container {
    display: block;
    width: 100%;
    iframe {
        width: 100%;
    }
    .content {
        width: 100%;
        padding: 10px 20px;
        .title {
            font-weight: 900;
            margin: 0;
        }
        p:last-of-type {
            margin: 0;
        }
    }
}


// For your team section
.for-your-team {
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;

    .for-your-team-block {
        .image {
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 200px;
            margin: 0 0 20px 0;
            display: block;
        }
        .content {
            font-size: 0.8em;
        }
    }
}

.icon-link {
    display: block;
    width: 100%;
    font-size: 1em;
    margin: 0 0 20px 0;
    transition: all 0.3s;

    span {
        display: inline-block;
        width: 40px;
        line-height: 40px;
        text-align: center;
        margin-right: 10px;
        border-radius: 50%;
        font-size: 1.4em;
    }

    &:hover {
        transition: all 0.3s;
        span {
            text-decoration: none;
        }
    }
}


//Buttons - Links etc ( These are for non 'button' buttons - I.E only styled to look like a button link, non form submitting )
.button {
    width: auto;
    display: inline-block;
    margin: 0 auto;
    border: 2px solid;
    text-align: center;
    padding: 10px 20px 8px 20px;
    text-transform: uppercase;
    border-radius: 2px;
    font-size: 1em;
    font-weight: normal;
    transition: all 0.2s;
    cursor: pointer;
    //Background colours for hover are within the theme files
}


footer {
    text-align: center;
    color: #fff;
    padding: 1.5em 0 1em 0;

    .logo-img {
        height: 2.3em;
    }

    p {
        margin-bottom: 0;
    }
}

.comptability-table-wrapper {
    display: block;
    width: 100%;
}


/* Responsve Code */
/* Breakpoint: 990px */
@media screen and (max-width: 990px){
    // //Header + Nav Menu (Mobile)
    // header {
    //   padding: 10px 0;
    // }
    // header nav a.close-mobile-nav {
    //     padding-top: 15px;
    //     padding-right: 10px;
    //     color: #fff;
    //     display: block!important;
    //     font-weight: bold;
    //     border-radius: 4px;
    //     font-size: 35px;
    //     line-height: 20px;
    //     text-align: right;
    //     transition: all 0.1s;
    //     text-align: right;
    // }
    // header nav a.close-mobile-nav:hover {
    //     text-decoration: none;
    //     color:#818181;
    //     background-color: transparent;
    // }
    // header .desktop-nav {
    //     display: none;
    //     transition: 0.3s;
    // }
    // header .open-mobile-nav {
    //     display: inline-block;
    //     float: right;
    //     color: #fff;
    //     transition: 0.3s;
    //     margin: 15px;
    //     cursor: pointer;
    // }
    // header .open-mobile-nav i {
    //     pointer-events: fill;
    // }
    // header .open-mobile-nav:hover {
    //     color: #818181;
    //     transition: 0.3s;
    // }
    // header nav a.get-app {
    //     border: none;
    //     padding-bottom: 0;
    //     padding-top: 0;
    //     padding-left: 10px;
    //     line-height: 48px;
    //     min-height: 48px;
    //     margin-top: 30px;
    // }
    // header nav a.get-app:hover {
    //     border: none;
    //     background-color: initial;
    //     color: initial;
    //     color: #818181;
    // }
    // header .sidenav-menu {
    //     height: 110vh;
    //     border-left: 2px solid #29778E;
    //     width: 250px;
    //     position: fixed;
    //     background-color: #206C82;
    //     z-index: 12 ;
    //     top: 0;
    //     right: 0;
    //     overflow-x: hidden;
    //     padding-top: 12px;
    //     padding-bottom: 20px;
    //     transition: 0.3s;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: flex-start;
    // }
    // header .sidenav-menu a {
    //     border-top: 1px solid #fff;
    //     text-decoration: none;
    //     font-size: 25px;
    //     color: #fff;
    //     font-weight: 300;
    //     display: block;
    //     transition: 0.3s;
    //     padding-left: 10px;
    //     padding-right: 10px;
    //     display: flex!important;
    //     max-width: 10em;
    //     margin-left: 0;
    //     width: 100%;
    //     justify-content: space-between;
    //     flex-direction: row;
    // }
    // header .sidenav-menu a:first-child, header .sidenav-menu a:nth-child(2) {
    //     border-top: none;
    // }
    // header .sidenav-menu .contact {
    //     border-bottom: 1px solid #fff;
    // }
    // header .sidenav-menu .search-social {
    //     position: absolute;
    //     padding-top: 10px;
    //     bottom: 15vh;
    //     border-top: 1px solid #fff;
    //     display: block;
    //     width: 100%;
    // }
    // header .sidenav-menu .search-social input {
    //     border-radius: 0;
    //     border-top: 1px solid rgb(206, 212, 218);
    //     border-left: 1px solid rgb(206, 212, 218);
    //     border-bottom: 1px solid rgb(206, 212, 218);
    // }
    // header .sidenav-menu .search-social .white-button {
    //     background-color: #fff;
    //     color: #818181;
    //     border: none;
    //     border-radius: 0;
    //     border-top: 1px solid rgb(206, 212, 218);
    //     border-right: 1px solid rgb(206, 212, 218);
    //     border-bottom: 1px solid rgb(206, 212, 218);
    // }
    // header .sidenav-menu .search-social .white-button:hover {
    //     color: black;
    // }
    // header .sidenav-menu .search-social .input-group {
    //     padding-left: 10px;
    //     padding-right: 10px;
    // }
    // header .sidenav-menu .search-social .links {
    //     margin-top: 10px;
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: space-between;
    //     border-top: 1px solid #fff;
    //     color: #fff;
    //     padding: 15px;
    // }
    // header .sidenav-menu .search-social .links i {
    //     cursor: pointer;
    //     font-size: 20px;
    // }
    // header .sidenav-menu .search-social .links i:hover {
    //     color: #818181;
    // }
    // header .sidenav-menu .hide-on-mobile {
    //     display: none!important;
    // }
    // header .sidenav-menu .hide-on-desktop {
    //     display: inline-block;
    // }
    // header .sidenav-menu a:hover {
    //     color: #818181;
    //     background-color: #17a2b8;
    // }
    // header .open-mobile-nav i {
    //     display: inline-block;
    // }
    // header .get-app:hover {
    //     color: #818181;
    //     background-color: none;
    // }
    .collapse {
        height: 100px;
    }

    .intro-container.margin-top {
      padding-top: 100px;
    }
    .button {
        font-size: 15px;
    }
    .call-to-action-block-container .call-to-action-icon p{
        font-size: 14px;
    }
    footer p.copyright {
        margin-top: 20px;
    }

    /* Docs */
    .full-width-page-header h1 {
        font-size: 2em;
    }
    .comptability-table-wrapper {
        overflow-x: scroll;
    }
    .page-content .sidebar p.title {
        font-size: 1em;
        line-height: normal;
    }
    .documentation-items li {
        font-size: 0.8em;
    }
    .page-content .sidebar {
        font-size: 0.8em;
    }
    .page-content .main-content .content {
        font-size: 0.8em;
    }
    .page-content .main-content .content h3 {
        font-size: 1.2em;
    }
    .page-content .sidebar .sidebar-content-block {
        padding: 10px;
    }

    .page-content .main-content .content hr {
        margin: 20px 0;
    }

    /* Docs Homepage */
    .box-content-container .box-content p.title {
        font-size: 1em;
        padding: 15px 10px 5px 10px;
        font-weight: 900;
    }
    .box-content-container .box-content p.title i {
        display: block;
        margin: 0 auto;
        clear: both;
    }
    .box-content-container .box-content .content {
        padding: 10px;
    }
    .box-content-container .box-content .button {
        font-size: 0.8em;
    }
    .news-title-container {
        text-align: center;
    }
    .container.news-container {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .news-container .news-post .title {
        float: left;
        padding: 0 10px;
        margin: 0 0 10px 0;
    }
    .news-container .news-post .content {
        padding: 20px 10px 10px 10px;
    }
    .news-container .news-post .content p {
        font-size: 0.8em;
    }
    .news-post .title span {
        float: right;
        width: 100%;
        margin-bottom: 0;
    }
    /* Sidebar */
    .news-container .contribute-container .title {
        padding: 10px;
    }
    .news-container .contribute-container .content {
        font-size: 0.8em;
        padding: 10px;
    }
    .news-container .contribute-container .icon-link {
        margin: 0 0 5px 0;
        line-height: normal;
    }
    .news-container .contribute-container .icon-link span {
        font-size: 1em;
        width: 20px;
    }
}

@media screen and (max-width: 575px) {
    body.dev .full-width-page-header {
        margin-top: 40px;
        text-align: center;
    }
    .screenshot-container .screenshot {
        max-width: 180px;
    }
    .call-to-action-block-container {
        border-bottom: 2px solid #203342;
    }
    .call-to-action-block-container .call-to-action-icon {
        margin-top: 0;
        margin-bottom: 60px;
    }
    .call-to-action-block-container .call-to-action-icon p {
        padding-left: 10px;
        padding-right: 10px;
    }
    .call-to-action-block-container .call-to-action-icon:last-of-type {
        margin-bottom: 0;
    }
    .for-your-team {
      padding: 50px 0 0 0;
    }
    .for-your-team-block {
        margin-bottom: 60px;
    }
    /* Docs home */
    .intro-container .intro-container-content h1 {
        font-size: 1.5em;
        line-height: normal;
        margin: 0;
    }
    .container.news-container .sidebar {
        margin-top: 20px;
    }
    .news-container .contribute-container .title {
        text-align: center;
    }
    .news-container .contribute-container .content p {
        text-align: center;
    }
    footer {
        padding: 20px 0;
    }
    footer p.copyright {
        margin-top: 0;
    }
    footer ul li {
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
    }
}
