---
---

// Internal page colour scheme is grey: #dadada

// Contact page
.contact_page_banner {
    background-image: none;
    background-position: center;
    background-size: cover;
    background: #dadada;
    
    .alert {
        margin-bottom: 50px;
    }
    
    .call-to-action-block {
        h2 i {
            margin-bottom: 20px;
            margin-right: 0;
        }

        .content {
            padding: 0 10px 10px 10px;
            p {
                text-shadow: none;
            }
        }

        a {
            background: transparent;
            border: none;
            color: #3ec4e4;
            text-decoration: underline;
            text-shadow: none;
            &:hover {
                color: #5ddefd;
                background: none;
            }
        }
    }
}

// Frequently Asked Questions
.faq-sidebar {
    font-weight: 300;
    margin-top: 0.37em;
    h4 {
        font-size: 1.4em;
        font-weight: 300;
        margin-bottom: 0.2em;
        a {
            color: #111;
        }
        &:not(:first-child) {
            margin-top: 1.05em;
        }
    }
    // h5 {
    //     font-size: 1.2em;
    //     margin-top: 1em;
    //     margin-bottom: 0.35em;
    //     font-weight: 300;
    // }
    p {
        line-height: 1.4;
        margin: 0;
        + p {
            margin-top: 0.5em;
        }
    }
    a {
        display: block;
        color: #173a60;
        &:hover {
            text-decoration: none;
        }
    }
}

.faq-content {
    h2, h3 {
        font-weight: 300;
    }
    h3 {
        font-size: 1.65em;
        margin-top: 0.7em;
        color: #3072ba;
        a {
            color: #3072ba;
            &:hover {
                text-decoration: none;
            }
        }
    }
    h2 a {
        color: #111;
        &:hover {
            text-decoration: none;
        }
    }
    .faqlinker {
        position: absolute;
        margin-top: -6rem;
    }
}
