---
---

// Internal page colour scheme is grey: #dadada
.title-container {
    background: linear-gradient(120deg, #1F3241, #455E6E 70.71%);
    padding-bottom: 40px;
    padding-top: 70px;
    display: flex;
    margin-top: 72px;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
    cursor: default;
    h1, h6 {
        font-weight: 300;
    }
    h1 {
        text-align: center;
    }
    h6 {
        padding-top: 10px;
        line-height: 145%;
        max-width: 550px;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
        max-width: 485px;
    }
}

.s1-contact-container {
    color: #fff;
    padding: 1em;
    padding-top: 160px;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, #1F3241, #455E6E 70.71%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: default;
    h1, h6 {
        font-weight: 300;
        text-align: center;
    }
    h6 {
        padding-top: 10px;
        line-height: 145%;
        width: 550px;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
        max-width: 485px;
    }
}

@media screen and (max-width: 850px) {
    .s1-contact-container h6 {
        width: 200px;
    }
    .title-container {
        padding-left: 20px;
        padding-right: 20px;
        h1 {
            font-size: 1.5em;
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 0;
        }
    }
}

// Contact page
.contact_page_banner {
    background-image: none;
    background-position: center;
    background-size: cover;
    background: #dadada;

    .alert {
        margin-bottom: 50px;
    }

    .call-to-action-block {
        h2 i {
            margin-bottom: 20px;
            margin-right: 0;
        }

        .content {
            padding: 0 10px 10px 10px;
            p {
                text-shadow: none;
            }
        }

        a {
            background: transparent;
            border: none;
            color: #3ec4e4;
            text-decoration: underline;
            text-shadow: none;
            &:hover {
                color: #5ddefd;
                background: none;
            }
        }
    }
}

// Newsletter sign up
.newsletter-container {
    min-height: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1B2833;
    color: #fff;
    div {
        margin: 0 auto;
        h4 {
            font-weight: 100;
            text-align: center;
            padding-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
            margin: 0;
        }
        h6 {
            font-weight: 300;
            text-align: center;
            padding-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 12px;
        }
        form {
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #fff;
            width: 100%;
            input {
                background-color: transparent;
                color: #fff;
                border: 0;
                width: 100%;
                    &:nth-child(2) {
                        font-weight: 300;
                        width: 30%;
                        min-width: 150px;
                        line-height: 40px;
                        cursor: pointer;
                        border-top: 1px solid #fff;
                        border-right: 1px solid #fff;
                        border-left: 1px solid #fff;
                        padding-left: 20px;
                        padding-right: 20px;
                        transition: 1s;
                    &:hover {
                        background-color: gray;
                        transition: 1s;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .newsletter-container div {
        min-width: 300px !important;
        form {
            margin-bottom: 30px;
            margin-top: 30px!important;
            width: 90%;
            margin: 0 auto!important;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            border-bottom: 0;
            input {
                display: block;
                padding: 5px;
                margin: 5px auto;
                border-bottom: 1px solid #fff;
                width: 90%;
            }
        }
        h6, h4 {
            width: 200px !important;
            margin: 0 auto;
        }
    }
}

// Frequently Asked Questions
.faq-sidebar, .plugin-sidebar {
    font-weight: 300;
    margin-top: 0.37em;
    h4 {
        font-size: 1.4em;
        font-weight: 300;
        margin-bottom: 0.2em;
        a {
            color: #111;
        }
        &:not(:first-child) {
            margin-top: 1.05em;
        }
    }
    p {
        line-height: 1.4;
        margin: 0;
        + p {
            margin-top: 0.5em;
        }
    }
    a {
        display: block;
        color: #173a60;
        &:hover {
            text-decoration: none;
        }
    }
}

.faq-content, .plugin-content {
    h2, h3 {
        font-weight: 300;
    }
    h2:not(:first-child) {
        margin-top: 1.8em;
    }
    h2 + h3 {
        margin-top: 0.7em;
    }
    h3 {
        font-size: 1.65em;
        margin-top: 1.6em;
        color: #3072ba;
        a {
            color: #3072ba;
            &:hover {
                text-decoration: none;
            }
        }
    }
    h2 a {
        color: #111;
        &:hover {
            text-decoration: none;
        }
    }
    .faqlinker {
        position: absolute;
        margin-top: -6rem;
    }
}

// Blog updates
.blog-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .content {
        padding-top: 30px;
        padding-bottom: 30px;
        min-height: 300px;
        width: 80%;
        margin: 0 auto;
        max-width: 900px;
        h2, h3, h4 {
            font-weight: 100;
            margin-top: 1em;
        }
        p {
            font-weight: 100;
            margin-top: 1.5em;
        }
        ul {
            font-weight: 100;
            margin-top: 0.3em;
        } 
    }
}