---
---

body {
    background: #fbfbfb;
    color: #464646;
}

.letter-page {
    font-family: 'Overpass Mono', monospace;
    max-width: 55rem;
    display: block;
    margin: 8rem auto;
    background: #fff;
    padding: 25px 40px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}

.letter-title {
    display: block;
    width: 100%;
    font-size: 0.6em;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #888;
    text-align: center;
    h1 {
        font-family: 'Overpass Mono', monospace;
    }
}

ul {
    margin: 0 0 20px 0;
    li {
        list-style-type: lower-roman;
        margin: 0 0 0 45px;
        cursor: default;
    }
}