---
---

$darkerGrayFontColour: #A9A9A9;
$darkerColour: #2e3d52;

.timeline-header-container {
    min-height: 400px;
    background: linear-gradient(120deg, #1F3241, #455E6E 70.71%);
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    padding: 160px 0 77px 0;
    .header-content-container {
        width: 550px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1, h6 {
            color: #fff;
            text-align: center;
            font-weight: 300;
        }
        h6 {
            line-height: 1.5em;
            padding-left: 5px;
            padding-right:  5px;
        }
    }

    .small-info-content {
        max-width: 510px;
        padding-left: 5px;
        padding-right: 5px;
        color: #fff;
        display: inline-block;
        font-size: 1em;
        margin: 0 auto;
        padding-top: 40px;
    }
}

.timeline-container {
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .timeline-content {
        margin: 50px 120px 50px 120px;
        border-left: 10px solid $darkerColour;
        border-radius: 10px;
        position: relative;
        color: #fff;
        font-weight: 300;
        width: 600px;
        padding-left: 100px;
        padding-right: 20px;
        .last-goal {
            padding-bottom: 20px;
        }
        div {
            color: $darkerColour;
            min-width: 300px;
            font-weight: 100;
            font-size: 16px;
            line-height: 22px;
            position: relative;
            padding-bottom: 100px;
            margin-bottom: 50px;
            img {
                padding-top: 20px;
                padding-bottom: 20px;
            }
            a {
                text-decoration: underline;
                font-weight: 600;
                color: $darkerGrayFontColour;;
            }
            h4 {
                color: #000;
                font-weight: 600;
                margin: 0 0 20px 0;
                padding: 0;
                line-height: 1.5em;
                text-align: center;
            }
            p {
                cursor: default;
            }
            .completed {
                font-size: 0.55em;
                padding: 10px 15px;
                border: 2px solid $darkerColour;
                border-radius: 4px;
                line-height: normal;
                color: $darkerColour;
                font-weight: 400;
                letter-spacing: 0.5em;
                width: 160px;
                margin: 0 auto;
                margin-top: 20px;
                text-align: center;
                display: block;
            }
        }
        div:before {
            content: "";
            display: block;
            width: 55px;
            min-height: 10px;
            border-top: 5px solid $darkerColour;
            border-bottom: 5px solid $darkerColour;
            background-color: $darkerColour;
            position: absolute;
            top: 10px;
            left: -105px;
        }
        div:after {
            content: "";
            width: 20px;
            height: 20px;
            border-radius: 50%;
            position: absolute;
            top: 5px;
            display: block;
            left: -60px;
            background: $darkerColour;
        }
    }
    .timeline-content:before {
        content: "";
        display: block;
        width: 10px;
        min-height: 30px;
        border-top: 20px solid $darkerColour;
        position: absolute;
        top: -10px;
        border-radius: 20px;
        left: -10px;
    }
    .timeline-content:after {
        content: "";
        display: block;
        width: 10px;
        min-height: 30px;
        border-bottom: 20px solid $darkerColour;
        position: absolute;
        bottom: -10px;
        border-radius: 20px;
        left: -10px;
    }
}

@media screen and (max-width: 700px) {
    .timeline-container {
        padding-left: 5px;
        padding-right: 30px;
        .timeline-content {
            margin: 0;
            padding: 0;
            padding-left: 10px;
            div {
                min-width: 180px;
                padding-left: 35px;
                padding-right: 5px;
                padding-bottom: 30px;
            }
            div:before {
                width: 34px;
                left: -11px;
            }
            div:after {
                left: 5px;
                width: 20px;
                height: 20px;
            }
        }
    }
}

.home-newsletter {
    background: #2a3135;
    color: #fff;
    padding: 40px 0 10px 0;
    h3 {
        font-weight: 100;
        text-align: center;
        a {
            text-decoration: underline;
        }
    }
}
