---
layout: short-header

title: IRC Glossary
ntitle: Glossary
nsub: Definitions for commonly-used IRC and IRC development terms
---
<div class="row">
    <div class="col-sm-3 col-xs-12 sidebar">
        <div class="breadcrumbs">
            <ul>
                <li><a href="{{ '/refs' | relative_url }}">IRC Technology</a> &gt;</li>
                <li class="breadcrumb-block" style="display: block; todo: 'move this to css'">Glossary</li>
            </ul>
        </div>
        <hr>
        <div class="docs-list-sidebar">
            <h4><a href="#irc">IRC Terms</a></h4>
            <h4><a href="#dev">Development Terms</a></h4>
        </div>
    </div>
    <div class="col-sm-9 col-xs-12 main-content">
        <div class="content docs">
            <h2><div id="irc" class="header-link-expander"></div><a href="#irc" class="internal-link">IRC Terms<i class="fas fa-link"></i></a></h2>

            <p>You can expect to see these terms on this site, while browsing other IRC documentation, and while discussing IRC generally.</p>

            {% assign terms = "" | split: "" %}
            {% for t in site.data.glossary.irc-terms %}
                {% assign terms = terms | push: t[0] %}
            {% endfor %}
            {% assign terms = terms | sort %}

            {% for term in terms %}
                {% assign tinfo = site.data.glossary.irc-terms[term] %}
                <h3><div id="{{ term | slugify }}" class="header-link-expander"></div><a href="#{{ term | slugify }}" class="internal-link">{{ term }}<i class="fas fa-link"></i></a></h3>
                {{ tinfo.description | markdownify }}
            {% endfor %}

            <hr>

            <h2><div id="dev" class="header-link-expander"></div><a href="#dev" class="internal-link">Development Terms<i class="fas fa-link"></i></a></h2>

            <p>These terms are more specifically terms you'd hear while discussing IRC development, or specific areas of IRC dev. In addition, the terms here may be ones which we coin (with some precedence) to keep our own docs consistent.</p>

            {% assign terms = "" | split: "" %}
            {% for t in site.data.glossary.irc-dev-terms %}
                {% assign terms = terms | push: t[0] %}
            {% endfor %}
            {% assign terms = terms | sort %}

            {% for term in terms %}
                {% assign tinfo = site.data.glossary.irc-dev-terms[term] %}
                <h3><div id="{{ term | slugify }}" class="header-link-expander"></div><a href="#{{ term | slugify }}" class="internal-link">{{ term }}<i class="fas fa-link"></i></a></h3>
                {{ tinfo.description | markdownify }}
            {% endfor %}

            <hr>
            {% if site.data.glossary.contributors %}
            <div class="contributors">
                Contributors to this page:
                {% for c in site.data.glossary.contributors %}
                    <a href="{{ '/contributors' | relative_url }}#{{ c | slugify }}">{{ site.data.contributors.people[c].name }}</a>{% if forloop.last %}{% else %},{% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <p>
                You can edit and contribute changes to this page on GitHub <a href="{{ site.ghrepo }}{{ page.path }}">here</a>.
            </p>
    </div>
    </div>
</div>
