---
layout: short-header-cmd
---
<div class="row">
    <div class="col-sm-3 col-xs-12 sidebar">
        <div class="breadcrumbs">
            <ul>
                <li><a href="{{ '/refs' | relative_url }}">IRC Technology</a> &gt;</li>
                <li><a href="{{ '/refs/commands' | relative_url }}">Commands</a> &gt;</li>
                <li class="breadcrumb-block" style="display: block; todo: 'move this to css'"><b><code class="nocolor">{{ page.command }}</code></b></li>
            </ul>
        </div>
        {% if page.related-commands %}
        <hr>
        <div class="dropdown-list-container active">
            <p class="title">Related Commands:</p>
            {% for cmd in page.related-commands %}
                <li><a class="sidebar-page-link" href="{{ cmd | slugify }}.html"><code class="nocolor">{{ cmd }}</code></a></li>
            {% endfor %}
        </div>
        {% endif %}

        {% for group in page.command-groups %}
        {% if site.data.command-groups.groups[group] %}
        {% assign gdata = site.data.command-groups.groups[group] %}
        {% assign cmds = "" | split: "" %}
        {% for p in site.pages %}
            {% if p.layout == "command" %}{% if p.command-groups contains group %}{% if p.command != page.command %}
                {% assign cmds = cmds | push: p.command %}
            {% endif %}{% endif %}{% endif %}
        {% endfor %}
        {% assign cmds = cmds | sort %}
        {% if cmds.size > 0 %}
        <hr>
        <div class="dropdown-list-container active">
            <p class="title">{{ gdata.name }}</p>
            <ul>
            {% for cmd in cmds %}
                {% if cmd == page.command %}
                    <li><code class="nocolor">{{ cmd }}</code></li>
                {% elsif site.data.commands.info[num] %}
                    <li><a class="sidebar-page-link" href="{{ cmd | slugify }}.html"><code class="nocolor">{{ cmd }}</code></a></li>
                {% else %}
                    <li><code class="nocolor grey">{{ cmd }}</code></li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!--<hr>
        <div class="sidebar-content-block">
            <p class="title">An information block!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor!</p>
            <a href="btn">Example Link Name!</a>
        </div>-->
    </div>
    <div class="col-sm-9 col-xs-12 main-content">
        <div class="content docs">
            {% if page.experimental %}
            <div class="alert alert-warning experimental">
                <div class="icon">
                    <i class="fas fa-flask"></i>
                </div>
                <div class="description">
                    This command is <b>experimental</b>. Check the <a href="#compatibility">compatibility table</a> before using this in production.
                </div>
            </div>
            {% endif %}

            {% if page.notstarted %}
            <p>This command is not documented</p>
            {% endif %}

            {{ content }}

            <hr>

            {% if page.examples and 0 < page.examples.size %}
            <h3><div id="examples" class="header-link-expander"></div><a href="#examples" class="internal-link">Examples<i class="fas fa-link"></i></a></h3>
            {% for e in page.examples %}
<pre class="example"><code>{{ e.content | escape }}</code></pre>
{% if e.desc %}<div class="example-desc">{{ e.desc | markdownify }}</div>{% endif %}
            {% endfor %}
            <hr>
            {% endif %}

            <h3><div id="compatibility" class="header-link-expander"></div><a href="#compatibility" class="internal-link">Compatibility<i class="fas fa-link"></i></a></h3>
            <div class="comptability-table-wrapper">
                <table class="supported-table">
                    <thead>
                        <tr>
                            <th style="min-width:120px"></th>
                            {% for server in site.data.supported-servers.shortlist %}
                            <th>{{ server.name }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Supported:</td>
                            {% for server in site.data.supported-servers.shortlist %}
                            {% if page.supported-by[server.id] %}
                            <td class="supported"><i class="fas fa-check"></i></td>
                            {% else %}
                            <td class="not-supported"><i class="fas fa-times"></i></td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>

            <h3><div id="numerics" class="header-link-expander"></div><a href="#numerics" class="internal-link">Related Numerics<i class="fas fa-link"></i></a></h3>
            <ul>
            {% for num in page.numerics %}
                {% for p in site.pages %}
                    {% if p.layout == "numeric" %}
                        {% if p.full-numeric %}
                            {% if p.full-numeric == num %}
                            <li><a href="{{ p.url }}"><code>{% if p.numeric-name %}{{ p.numeric-name }}{% else %}UNKNOWN{% endif %} ({{ p.numeric }})</code></a></li>
                            {% break %}
                            {% endif %}
                        {% elsif p.numeric == num %}
                            <li><a href="{{ p.url }}"><code>{% if p.numeric-name %}{{ p.numeric-name }}{% else %}UNKNOWN{% endif %} ({{ p.numeric }})</code></a></li>
                            {% break %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </ul>

            <hr>
            {% if page.contributors %}
            <div class="contributors">
                Contributors to this page:
                {% for c in page.contributors %}
                    <a href="{{ '/contributors' | relative_url }}#{{ c | slugify }}">{{ site.data.contributors.people[c].name }}</a>{% if forloop.last %}{% else %},{% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <p>
                You can edit and contribute changes to this page on GitHub <a href="{{ site.ghrepo }}{{ page.path }}">here</a>.
            </p>
            {% if site.pregit %}<p>
                Latest change: <a href="{{ site.ghcommit }}{{ page.commit-id }}">{{ page.commit-date | date_to_long_string }}</a>.
            </p>{% endif %}
    </div>
    </div>
</div>