---
layout: short-header-cmd
---
<div class="row">
    <div class="col-sm-4 col-xs-12 sidebar">
        <div class="breadcrumbs">
            <ul>
                <li><a href="">IRC Technology</a> &gt;</li>
                <li><a href="">Commands</a> &gt;</li>
                <li><b>{{ page.command }}</b></li>
            </ul>
        </div>
        {% if page.related-commands %}
        <hr>
        <p class="title">Related Commands:</p>
            {% for cmd in page.related-commands %}
            <a class="sidebar-page-link" href="{{ cmd | slugify }}.html"><code>{{ cmd }}</code></a>
            {% endfor %}
        {% endif %}

        {% for group in page.command-groups %}
        {% if site.data.command-groups.groups[group] %}
        {% assign gdata = site.data.command-groups.groups[group] %}
        {% assign cmds = "" | split: "" %}
        {% for p in site.pages %}
            {% if p.layout == "command" %}{% if p.command-groups contains group %}{% if p.command != page.command %}
                {% assign cmds = cmds | push: p.command %}
            {% endif %}{% endif %}{% endif %}
        {% endfor %}
        {% assign cmds = cmds | sort %}
        {% if cmds.size > 0 %}
        <hr>
        <p class="title">{{ gdata.name }}</p>
            {% for cmd in cmds %}
            <a class="sidebar-page-link" href="{{ cmd | slugify }}.html"><code>{{ cmd }}</code></a>
            {% endfor %}
        {% endif %}
        {% endif %}
        {% endfor %}
        <hr>
        <div class="dropdown-list-container active">
            <p class="title">Username commands:</p>
            <ul class="documentation-items">
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
            </ul>
        </div>
        <div class="dropdown-list-container">
            <p class="title">Example 2:</p>
            <ul class="documentation-items">
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
            </ul>
        </div>
        <div class="dropdown-list-container">
            <p class="title">Example 3:</p>
            <ul class="documentation-items">
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
            </ul>
        </div>

        <hr>
        <div class="sidebar-content-block">
            <p class="title">An information block!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor!</p>
            <a href="btn">Example Link Name!</a>
        </div>
    </div>
    <div class="col-sm-8 col-xs-12 main-content">
        <div class="content">
            {% if page.experimental %}
            <div class="alert alert-warning experimental">
                <div class="icon">
                    <i class="fas fa-flask"></i>
                </div>
                <div class="description">
                    This command is <b>experimental</b>. Check the <a href="#compatibility">compatibility table</a> before using this in production.
                </div>
            </div>
            {% endif %}

            {% if page.notstarted %}
            <p>This command is not documented</p>
            {% endif %}

            {{ content }}

            <hr>

            {% if page.examples %}
            <h3 id="examples">Examples<a href="/#examples" class="link-icon"><i class="fas fa-link"></i></a></h3>
<pre class="example"><code>{{ page.examples }}</code></pre>
            <hr>
            {% endif %}

            <h3 id="compatibility">Compatibility<a href="/#compatibility" class="link-icon"><i class="fas fa-link"></i></a></h3>
            <div class="alert alert-warning">
                Your IRC client may or may not have in-built support for this command.
            </div>
            <div class="comptability-table-wrapper">
                <table class="supported-table">
                    <thead>
                        <tr>
                            <th style="min-width:120px"></th>
                            {% for server in site.data.supported-servers.shortlist %}
                            <th>{{ server.name }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Supported:</td>
                            {% for server in site.data.supported-servers.shortlist %}
                            {% if page.supported-by[server.id] %}
                            <td class="supported"><i class="fas fa-check"></i></td>
                            {% else %}
                            <td class="not-supported"><i class="fas fa-times"></i></td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>

            <h3 id="numerics">Related Numerics<a href="/#numerics" class="link-icon"><i class="fas fa-link"></i></a></h3>
            <ul>
            {% for num in page.numerics %}
                {% for p in site.pages %}
                    {% if p.layout == "numeric" %}
                        {% if p.full-numeric %}
                            {% if p.full-numeric == num %}
                            <li><a href="{{ p.url }}"><code>{% if p.numeric-name %}{{ p.numeric-name }}{% else %}UNKNOWN{% endif %} ({{ p.numeric }})</code></a></li>
                            {% break %}
                            {% endif %}
                        {% elsif p.numeric == num %}
                            <li><a href="{{ p.url }}"><code>{% if p.numeric-name %}{{ p.numeric-name }}{% else %}UNKNOWN{% endif %} ({{ p.numeric }})</code></a></li>
                            {% break %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </ul>
            <hr>

            <h3 id="referenceThisIDinURl">See Also:<a href="/#referneceThisDivinURl" class="link-icon"><i class="fas fa-link"></i></a></h3>
            <a href="#"><code>&gt; This interesting function();</code></a><br>
            <a href="#"><code>&gt; This interesting function();</code></a><br>
    </div>
    </div>
</div>