---
layout: short-header
---
{% assign series = site.data.guides.series[page.series] %}
<div class="row">
    <div class="col-sm-3 col-xs-12 sidebar">
        <div class="breadcrumbs">
            <ul>
                <li><a href="{{ site.baseurl | relative_url }}">IRC Technology</a> &gt;</li>
                <li><a href="{{ '/guides' | relative_url }}">Guides</a> &gt;</li>
                {% if series %}
                <li class="breadcrumb-block" style="display: block; todo: 'move this to css'"><b>{% if series.sidebar-name %}{{ series.sidebar-name }}{% else %}{{ series.name }}{% endif %}</b></li>
                {% else %}
                <li class="breadcrumb-block" style="display: block; todo: 'move this to css'"><b>{{ page.title }}</b></li>
                {% endif %}
            </ul>
        </div>
        {% if series %}

            {% assign maxSeriesPage = 0 %}
            {% for p in site.pages %}
                {% if p.layout == 'guide' and p.series == page.series and p.series-page %}
                    {% if maxSeriesPage < p.series-page %}
                        {% assign maxSeriesPage = p.series-page %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            <ol class="sidebar-guide-list" style="padding-top: 0.5em; //TODO(dan): move this to CSS">
                {% assign i = 0 %}
                {% for i in (0..maxSeriesPage) %}
                    {% for p in site.pages %}
                        {% if p.layout == 'guide' and p.series == page.series and p.series-page == i %}
                            {% if p.sidebar-title %}{% assign pageTitle = p.sidebar-title %}{% else %}{% assign pageTitle = p.title %}{% endif %}
                            <li>{% if p.url == page.url %}{{ pageTitle }}{% else %}<a href='{{ p.url | relative_url }}'>{{ pageTitle }}</a>{% endif %}</li>
                        {% endif %}
                    {% endfor %}
                    {% assign i = i | plus:1 %}
                {% endfor %}
            </ol>
        {% endif %}
        {% if page.related-guides %}
        <hr>
            <p class="title">Related Guides:</p>
            {% for guide in page.related-guides %}
            <a class="sidebar-page-link" href="{{ guide[0] | slugify }}.html">{{ guide[1] }}</a>
            {% endfor %}
        {% endif %}
        <hr>
        <div class="dropdown-list-container active">
            <p class="title">Other Guides:</p>
            <ul class="documentation-items">
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
                <li><a href="">Example UL Link</a></li>
            </ul>
        </div>
        <hr>
        <div class="sidebar-content-block">
            <p class="title">An information block!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor!</p>
            <a href="btn">Example Link Name!</a>
        </div>
    </div>
    <div class="col-sm-9 col-xs-12 main-content">
        <div class="content">
            {% if page.wip %}
            <div class="alert alert-warning experimental">
                <div class="icon">
                    <i class="fas fa-flask"></i>
                </div>
                <div class="description">
                    This guide is still being written.
                </div>
            </div>
            {% endif %}

            {% if page.notstarted %}
            <p>This guide has not yet been started.</p>
            {% endif %}

            {{ content }}

            <hr>

            <h3 id="referenceThisIDinURl">See Also:<a href="/#referneceThisDivinURl" class="link-icon"><i class="fas fa-link"></i></a></h3>
            <a href="#"><code>&gt; This interesting function();</code></a><br>
            <a href="#"><code>&gt; This interesting function();</code></a><br>
    </div>
    </div>
</div>