---
layout: short-header-num
---
<div class="container page-content">
<div class="row">
    <div class="col-3 sidebar">
        <div class="breadcrumbs">
            <ul>
                <li><a href="{{ '/refs' | relative_url }}">References</a></li>
                <li><a href="{{ '/refs/numerics' | relative_url }}">Numerics</a></li>
                <li class="breadcrumb-block" style="display: block; todo: 'move this to css'"><code class="nocolor">{{ site.data.numerics.names[page.numeric] }} ({{ page.numeric }})</code></li>
            </ul>
        </div>
        {% if page.related-numerics %}
        <hr>
        <div class="dropdown-list-container active">
            <p class="title">Related numerics:</p>
            {% for num in page.related-numerics %}
                <li><a class="sidebar-page-link" href="{{ num | slugify }}"><code class="nocolor">{{ site.data.numerics.names[num] }} ({{ num }})</code></a></li>
            {% endfor %}
        </div>
        {% endif %}

        {% for group in page.numeric-groups %}
        {% if site.data.numeric-groups.groups[group] %}
        {% assign gdata = site.data.numeric-groups.groups[group] %}
        {% assign nums = "" | split: "" %}
        {% for p in site.pages %}
            {% if p.layout == "numeric" %}{% if p.numeric-groups contains group %}
                {% assign nums = nums | push: p.numeric %}
            {% endif %}{% endif %}
        {% endfor %}
        {% assign nums = nums | sort %}
        {% if nums.size > 0 %}
        <hr>
        <div class="dropdown-list-container active">
            <p class="title">{{ gdata.name }}:</p>
            <ul>
            {% for num in nums %}
                {% if num == page.numeric %}
                    <li><code class="nocolor">{{ site.data.numerics.names[num] }} ({{ num }})</code></li>
                {% elsif site.data.numerics.info[num] %}
                    <li><a class="sidebar-page-link" href="{{ num | slugify }}"><code class="nocolor">{{ site.data.numerics.names[num] }} ({{ num }})</code></a></li>
                {% else %}
                    <li><code class="nocolor grey">{{ site.data.numerics.names[num] }} ({{ num }})</code></li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
    <div class="col-9 main-content">
        <div class="content docs">
            {% if page.experimental %}
            <div class="alert alert-warning experimental">
                <div class="icon">
                    <i class="fas fa-flask"></i>
                </div>
                <div class="description">
                    This numeric is <b>experimental</b>. Check the <a href="#compatibility">compatibility table</a> before using this in production.
                </div>
            </div>
            {% endif %}

            {% if page.notstarted %}
            <p>This numeric is not documented</p>
            {% endif %}

            {{ content }}

            <hr>

            {% if page.examples and 0 < page.examples.size %}
            <h3><div id="examples" class="header-link-expander"></div><a href="#examples" class="internal-link">Examples<i class="fas fa-link"></i></a></h3>
            {% for e in page.examples %}
<pre class="example"><code>{{ e.content | escape }}</code></pre>
{% if e.desc %}<div class="example-desc">{{ e.desc | markdownify }}</div>{% endif %}
            {% endfor %}
            <hr>
            {% endif %}

            <h3><div id="compatibility" class="header-link-expander"></div><a href="#compatibility" class="internal-link">Compatibility<i class="fas fa-link"></i></a></h3>
            <div class="compatibility-list">
                {% for server in site.data.supported-servers.shortlist %}
                <a href="{{ '/software' | relative_url }}#{{ server.id | slugify }}" class="item">
                    <div class="name">{{ server.name }}</div>
                    {% if page.used-by[server.id] or page.used-by-default %}
                    <div class="status supported">
                        <i class="fas fa-check"></i>
                    </div>
                    {% else %}
                    <div class="status not-supported">
                        <td class="not-supported"><i class="fas fa-times"></i></td>
                    </div>
                    {% endif %}
                </a>
                {% endfor %}
            </div>
            <hr>
            {% if page.contributors %}
            <div class="contributors">
                Contributors to this page:
                {% for c in page.contributors %}
                    <a href="{{ '/contributors' | relative_url }}#{{ c | slugify }}">{{ site.data.contributors.people[c].name }}</a>{% if forloop.last %}{% else %},{% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <p>
                You can edit and contribute changes to this page on GitHub <a href="{{ site.ghrepo }}{{ page.path }}">here</a>.
            </p>
            {% if site.pregit %}<p>
                Latest change: <a href="{{ site.ghcommit }}{{ page.commit-id }}">{{ page.commit-date | date_to_long_string }}</a>.
            </p>{% endif %}
    </div>
    </div>
</div>