<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/assets/styles/index.css">
    <link rel="stylesheet" href="/assets/styles/foundation.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
</head>
<body>
    <!-- views/partials/header.ejs -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <a href="/" class="logo">
                        <img src="/assets/irc_logos/irc_white.svg" />
                        <span class="logo-text">IRC</span>
                        <!-- We need to populate this text via the current route  <span class="sub-title">&nbsp;</span> -->
                    </a>

                    <nav class="desktop-nav">
                        <a href="/" class="get-app">Download IRC Chat</a>
                        <a href="/foundation">Foundation</a>
                        <a href="/contact">Contact</a>
                    </nav>
                    <div class="mobile-nav-button">
                        <i class="fas fa-bars"></i>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Include JQuery -->
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
    </script>
    <script type="text/javascript">
        $(window).scroll(function() {
        if ($(this).scrollTop() > 130) {
            if($(window).width() > 575) {
                $('header').addClass('fixed');
            }
        }else{
                $('header').removeClass('fixed');
        }
        });
    </script>


    {{ content }}

    <footer>
        <div class="container">
            <div class="col-sm-12">
                <div class="footer-logo">
                    <img src="/assets/irc_logos/irc_white.svg" />
                </div>
                <ul>
                    <li><a href="">Chat</a></li>
                    <li><a href="">University</a></li>
                    <li><a href="">Gaming</a></li>
                    <li><a href="">Foundation</a></li>
                </ul>
                <p class="copyright">copyright lorem ipsum lorem ipsum lorem ipsum lorem ipsum 2018.</p>
            </div>
        </div>
    </footer>

</body>
</html>
