<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ page.title }}</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="/assets/styles/index.css">
    <link rel="stylesheet" href="/assets/styles/chat.css">
    <link rel="stylesheet" href="/assets/styles/documentation.css">
</head>
<body>

    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <a href="/" class="logo">IRC
                        <span class="logospecific">Foundation</span>
                    </a>

                    <nav>
                        <a href="#">Example</a>
                        <a href="#">Example</a>
                        <a href="#">Example</a>
                        <ul>
                            <li><a href="">Title</a></li>
                            <ul>
                                <li><a href="">Child Elm</a></li>
                                <li><a href="">Child Elm</a></li>
                                <li><a href="">Child Elm</a></li>
                            </ul>
                        </ul>
                        <a href="#">Example</a>
                        <a href="#">Example</a>
                        <a href="#">Example</a>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="full-width-page-header">
        {% if page.ntitle %}
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>{{ page.ntitle }}</h1>
                    {% if page.nsub %}<p class="h1sub">{{ page.nsub }}</p>{% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <!-- {{ content }} -->

    <div class="container page-content">
        {{ content }}
    </div>


    <!-- Intro Container, this heading block will be our main CTA across our pages, each theme will set a backgound colour -->
    <!-- <div class="intro-container has-call-to-action-blocks">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="intro-container-content">
                        <h1>Centered Content Goes Here</h1>
                        <p>Lorem ipsum dolor sit amet, cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <a href="#" class="button button-border">Button Border Class</a>
                    </div>
                </div>
            </div>
        </div>-->
        <!-- Call to action options , taken from the IRC help design -->
        <!--<div class="intro-call-to-action-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 into-call-to-action-block">
                        <h2>Exaple Option Title</h2>
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="">Find out More</a></p>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-5 into-call-to-action-block">
                        <h2>Exaple Option Title</h2>
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="">Find out More</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!--<div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-primary">
                    A collection of styles:
                </div>


                <h1>Example Title:</h1>
                <h2>Example Title:</h2>
                <h3>Example Title:</h3>
                <h4>Example Title:</h4>
                <h5>Example Title:</h5>

                <hr>

                <h1>Example Title:</h1>
                <p>Lorem ipsum dolor sit amet, <b>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</b> dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui <a href="">officia deserunt mollit anim id est laborum.</a></p>
                <h2>Example Title:</h2>
                <p>Lorem ipsum dolor sit amet, <b>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</b> dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui <a href="">officia deserunt mollit anim id est laborum.</a></p>
                <h3>Example Title:</h3>
                <p>Lorem ipsum dolor sit amet, <b>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</b> dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui <a href="">officia deserunt mollit anim id est laborum.</a></p>
                <h4>Example Title:</h4>
                <p>Lorem ipsum dolor sit amet, <b>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</b> dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui <a href="">officia deserunt mollit anim id est laborum.</a></p>
                <h5>Example Title:</h5>
                <p>Lorem ipsum dolor sit amet, <b>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</b> dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui <a href="">officia deserunt mollit anim id est laborum.</a></p>

                <hr>
            </div>

            <div class="col-sm-4">
                <h3>Title content here</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam </p>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <a href="#" class="btn btn-primary">Read More</a>
            </div>
            <div class="col-sm-6 offset-sm-2">
                <img src="https://picsum.photos/600/400" alt="">
            </div>

            <div class="col-sm-12">
                <hr>
            </div>
            <div class="col-sm-6">
                <img src="https://picsum.photos/600/400" alt="">
            </div>

            <div class="col-sm-4 offset-sm-2">
                <h3>Title content here</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam </p>
                <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <a href="#" class="btn btn-primary">Read More</a>
            </div>

            <div class="col-sm-12">
                <hr>
            </div>

            <div class="col-sm-12">
                <div class="alert alert-primary">
                    Just a collection of some bootstrap things I think we will use, rather than code ourself:
                </div>
                <h2>Breadcrumbs:</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Library</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-12">
                <hr>
                <h2>Blog examples (maybe)</h2>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="https://picsum.photos/200/150" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="https://picsum.photos/200/150" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="https://picsum.photos/200/150" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
            </div>
            <div class="col-sm-12">
                <hr>
            </div>
            <div class="col-sm-4">
                <h3>Lists:</h3>
                <p>Example of a bootstrap list</p>
                <ul class="list-group">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Morbi leo risus</li>
                  <li class="list-group-item">Porta ac consectetur ac</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h3>&nbsp;</h3>
                <p>Normal UL, as expcted to appear in content.</p>
                <ul>
                    <li>lorem ipsum</li>
                    <li><a href="">lorem</a></li>
                    <li>dsldldldl dldld snsns dldld dldl dnndn dldldl dndn dldl ndnd sansns sansns nssn snsn</li>
                    <li><b>Look</b></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h3>&nbsp;</h3>
                <p>&nbsp;</p>
                <ol>
                    <li>lorem ipsum</li>
                    <li><a href="">lorem</a></li>
                    <li>dsldldldl dldld snsns dldld dldl dnndn dldldl dndn dldl ndnd sansns sansns nssn snsn</li>
                    <li><b>Look</b></li>
                </ol>
            </div>
            <div class="col-sm-12">
                <hr>
            </div>
        </div>
    </div>


    <div class="container documentation">
        <div class="row">
            <div class="col-sm-12">
            </div>
            <div class="col-sm-12">
                <h1>Docs:</h1>
                <p class="timestamp">Darren edited this page on 12 Feb</p>
                <hr>
                <p>Note: This is a living and breathing document. It is still changing and being completed</p>
                <p>This document briefly outlines how to create, register and make use of plugins. Further in depth descriptions will be included once the API has been officially implemented.</p>
                <h2>Pre, P and Pre Code</h2>
                <hr>
                <p>A plugin is a single myplugin.js file that can be loaded over HTTP from any location.</p>
                <p>Adding the following into your config.json file <a href="">will instruct Kiwi IRC to load the .js URL</a> into the page just before Kiwi is ready to show its UI.</p>
                <pre><code>
                "plugins": [
                    {"name": "myplugin", "url": "/static/plugins/myplugin.js"}
                ]
                </code></pre>
                <p>Inside your .js file, you must register a plugin using the <code>kiwi.plugin()</code> call, such as:</p>

                <hr>
                <h3>Bullets</h3>
                <ul>
                    <li>Copy an existing theme folder from <code>static/themes/</code> and name it however you like. For example, <code>mytheme</code>.</li>
                    <li>Edit the <code>mytheme/theme.css</code> file with your theme styles.</li>
                    <li>Add the theme to your config file <a href="https://github.com/kiwiirc/kiwiirc/wiki/Configuration#themes">as shown here</a> or share the link to others to try out.</li>
                </ul>

                <hr>
                <h3>Table</h3>
                <p>Example of table data, styled as close to github - but with additonal width</p>
                <table>
                   <thead>
                      <tr>
                         <th>Name</th>
                         <th>Arguments</th>
                         <th>Can be fired from plugins</th>
                         <th>Description</th>
                      </tr>
                   </thead>
                   <tbody>
                      <tr>
                         <td><code>document.clicked</code></td>
                         <td>MouseEvent</td>
                         <td>no</td>
                         <td>The page has its <code>click</code> event triggered</td>
                      </tr>
                      <tr>
                         <td><code>document.keydown</code></td>
                         <td>KeyboardEvent</td>
                         <td>no</td>
                         <td>The page has its <code>keydown</code> event triggered</td>
                      </tr>
                      <tr>
                         <td><code>active.component</code></td>
                         <td>VueComponent</td>
                         <td>yes</td>
                         <td>Set the active component in the main view</td>
                      </tr>
                      <tr>
                         <td><code>statebrowser.toggle</code></td>
                         <td></td>
                         <td>yes</td>
                         <td>Hide / Show the state browser</td>
                      </tr>
                      <tr>
                         <td><code>statebrowser.hide</code></td>
                         <td></td>
                         <td>yes</td>
                         <td>Hide the state browser</td>
                      </tr>
                      <tr>
                         <td><code>statebrowser.show</code></td>
                         <td></td>
                         <td>yes</td>
                         <td>Show the state browser</td>
                      </tr>
                      <tr>
                         <td><code>sidebar.toggle</code></td>
                         <td></td>
                         <td>yes</td>
                         <td>Hide / Show the sidebar</td>
                      </tr>
                      <tr>
                         <td><code>sidebar.hide</code></td>
                         <td></td>
                         <td>yes</td>
                         <td>Hide the sidebar</td>
                      </tr>
                      <tr>
                         <td><code>sidebar.show</code></td>
                         <td></td>
                         <td>yes</td>
                         <td>Show the sidebar</td>
                      </tr>
                      <tr>
                         <td><code>network.settings</code></td>
                         <td>network</td>
                         <td>yes</td>
                         <td>Show the settings for the given network</td>
                      </tr>
                      <tr>
                         <td><code>input.raw</code></td>
                         <td>rawText</td>
                         <td>yes</td>
                         <td>Simulate user input</td>
                      </tr>
                      <tr>
                         <td><code>input.command.[command]</code></td>
                         <td>event, command, params</td>
                         <td>no</td>
                         <td>An input command is being executed</td>
                      </tr>
                      <tr>
                         <td><code>mediaviewer.hide</code></td>
                         <td></td>
                         <td>yes</td>
                         <td>Hide the media viewer</td>
                      </tr>
                      <tr>
                         <td><code>mediaviewer.show</code></td>
                         <td>url</td>
                         <td>yes</td>
                         <td>Open the media viewer with the given URL</td>
                      </tr>
                      <tr>
                         <td><code>mediaviewer.opened</code></td>
                         <td></td>
                         <td>no</td>
                         <td>Media viewer has been opened</td>
                      </tr>
                      <tr>
                         <td><code>userbox.show</code></td>
                         <td>user</td>
                         <td>yes</td>
                         <td>Open the user information panel for the given user</td>
                      </tr>
                      <tr>
                         <td><code>irc.raw</code></td>
                         <td>command, event, network</td>
                         <td>no</td>
                         <td>Raw IRC message from the IRC server</td>
                      </tr>
                      <tr>
                         <td><code>irc.raw.[command]</code></td>
                         <td>command, event, network</td>
                         <td>no</td>
                         <td>A raw IRC message from the IRC server</td>
                      </tr>
                      <tr>
                         <td><code>irc.[command]</code></td>
                         <td>event, network, ircEventObj</td>
                         <td>no</td>
                         <td>A parsed IRC event from the IRC library</td>
                      </tr>
                      <tr>
                         <td><code>network.new</code></td>
                         <td>eventObj</td>
                         <td>no</td>
                         <td>A new network has been added</td>
                      </tr>
                      <tr>
                         <td><code>network.removed</code></td>
                         <td>eventObj</td>
                         <td>no</td>
                         <td>A network has been deleted</td>
                      </tr>
                   </tbody>
                </table>
            </div>
            <div class="col-sm-8">

            </div>
        </div>
    </div>

    <div class="container form-container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Form Elements:</h2>
                <p>We are importing the Bootstrap form elements and just toning them down (no box shadows etc) - We keep the default checkbox options to ensure older browsers can still click on terms and conditions and such things.</p>
                <hr>
            </div>
        </div>
        <form class="row">
            <div class="col-sm-6">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <label for="exampleSelect1">Example select</label>
                    <select class="form-control" id="exampleSelect1">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
            </div>
            <div class="col-sm-6">
                  <div class="form-group">
                    <label for="exampleSelect2">Example multiple select</label>
                    <select multiple class="form-control" id="exampleSelect2">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleTextarea">Example textarea</label>
                    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                  </div>
            </div>
            <div class="col-sm-6">
                  <div class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                    <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
                  </div>
            </div>
            <div class="col-sm-6">
                  <fieldset class="form-group">
                    <legend>Radio buttons</legend>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        Option one is this and that&mdash;be sure to include why it's great
                      </label>
                    </div>
                    <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                        Option two can be something else and selecting it will deselect option one
                      </label>
                    </div>
                    <div class="form-check disabled">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                        Option three is disabled
                      </label>
                    </div>
                  </fieldset>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input">
                      Check me out
                    </label>
                  </div>
            </div>
            <div class="col-sm-12" style="text-align:center;">
                <hr>
                <p>The colours for buttons are set within the theme file</p>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="submit" class="btn btn-success">Hell Yeah, that worked!</button>
                <button type="submit" class="btn btn-info">info</button>
                <button type="submit" class="btn btn-danger">Oh no, something went wrong</button>
            </div>
        </form>
    </div>-->

    <!-- Screenshot section -->
    <!--<div class="container screenshot-container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Screenshot Section:</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>
            <div class="col-sm-2">
                <img class="screenshot" src="https://picsum.photos/200/400" alt="">
            </div>
            <div class="col-sm-2">
                <img class="screenshot" src="https://picsum.photos/200/400" alt="">
            </div>
            <div class="col-sm-2">
                <img class="screenshot" src="https://picsum.photos/200/400" alt="">
            </div>
            <div class="col-sm-2">
                <img class="screenshot" src="https://picsum.photos/200/400" alt="">
            </div>
            <div class="col-sm-2">
                <img class="screenshot" src="https://picsum.photos/200/400" alt="">
            </div>
            <div class="col-sm-2">
                <img class="screenshot" src="https://picsum.photos/200/400" alt="">
            </div>
            <div class="col-sm-12">
                <a class="button button-border button-inverted">
                    Oooh A link!
                </a>
            </div>
        </div>
    </div>-->

    <!-- Call to action blocks, main body content -->
    <!--<div class="container call-to-action-block-container">
        <div class="row">
            <div class="col-sm-12">
                <hr>
                <h3>Example CTA Icons</h3>
                <p>A font awesome icon, title and line of text</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 call-to-action-icon">
                <i class="fas fa-lock"></i>
                <p class="title">Example Title</p>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a href="#" class="button button-inverted">Read More Button</a>
            </div>
            <div class="col-sm-4 call-to-action-icon">
                <i class="fas fa-lock"></i>
                <p class="title">Example Title</p>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a href="#">Read More Link</a>
            </div>
            <div class="col-sm-4 call-to-action-icon">
                <i class="fas fa-lock"></i>
                <p class="title">Example Title</p>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <hr>
                <h2>IRC CLasses:</h2>
                <p>This section shows the IRC class layout. It's obviously a WIP but hopefully the idea is a good one.</p>

                <div class="course-container">
                    <div class="course open">
                        <p class="title">
                            Example Course Title Here <i class="fas fa-sort-down"></i>
                        </p>
                        <ul class="videos">
                            <li><a href="">Example Video 1</a> <a href="/" class="watch">Watch Now <i class="fas fa-play"></i></a></li>
                            <li><a href="">Example Video 2</a> <a href="/" class="watch">Watch Now <i class="fas fa-play"></i></a></li>
                            <li><a href="">Example Video 3</a> <a href="/" class="watch">Watch Now <i class="fas fa-play"></i></a></li>
                            <li><a href="">Example Video 4</a> <a href="/" class="watch">Watch Now <i class="fas fa-play"></i></a></li>
                            <li><a href="">Example not ready yet</a> <span class="locked">Ready on : 24/09/2018 <i class="fas fa-calendar-alt"></i></li>
                        </ul>
                    </div>
                    <div class="course">
                        <p class="title">
                            Example Course Title Here <i class="fas fa-sort-up"></i>
                        </p>
                        <ul class="videos">
                            <li><a href="">Example Video 1</a> <a href="/" class="watch">Watch Now <i class="fas fa-play"></i></a></li>
                            <li><a href="">Example Video 2</a> <a href="/" class="watch">Watch Now <i class="fas fa-play"></i></a></li>
                            <li><a href="">Example Video 3</a> <a href="/" class="watch">Watch Now <i class="fas fa-play"></i></a></li>
                            <li><a href="">Example Video 4</a> <a href="/" class="watch">Watch Now <i class="fas fa-play"></i></a></li>
                            <li><a href="">Example not ready yet</a> <span class="locked">Ready on : 24/09/2018 <i class="fas fa-calendar-alt"></i></li>
                        </ul>
                    </div>
                    <div class="course">
                        <p class="title">
                            Example Course Title Here <i class="fas fa-sort-up"></i>
                        </p>
                        <ul class="videos">
                            <li><a href="">Example Video 1</a> <a href="/" class="watch">Watch Now <i class="fas fa-play"></i></a></li>
                            <li><a href="">Example Video 2</a> <a href="/" class="watch">Watch Now <i class="fas fa-play"></i></a></li>
                            <li><a href="">Example Video 3</a> <a href="/" class="watch">Watch Now <i class="fas fa-play"></i></a></li>
                            <li><a href="">Example Video 4</a> <a href="/" class="watch">Watch Now <i class="fas fa-play"></i></a></li>
                            <li><a href="">Example not ready yet</a> <span class="locked">Ready on : 24/09/2018 <i class="fas fa-calendar-alt"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

    <!-- Staff / Team -->
    <!--<div class="container align-text-center">
        <div class="row">
            <div class="col-sm-12">
                <hr>
                <h3>Meet the team:</h3>
                <p>Example of meet the team introduction text here</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 team-member">
                <div class="team-member-avatar" style="background-image:url(https://picsum.photos/200/400)"></div>
                <p class="team-member-name"><b>Joe Johnson</b></p>
                <p>Head of Johns</p>
                <a href="#" class="btn btn-primary">View Profile</a>
            </div>
            <div class="col-sm-2 team-member">
                <div class="team-member-avatar" style="background-image:url(https://picsum.photos/200/400)"></div>
                <p class="team-member-name"><b>Joe Johnson</b></p>
                <p>Head of Johns</p>
                <a href="#" class="btn btn-primary">View Profile</a>
            </div>
            <div class="col-sm-2 team-member">
                <div class="team-member-avatar" style="background-image:url(https://picsum.photos/200/400)"></div>
                <p class="team-member-name"><b>Joe Johnson</b></p>
                <p>Head of Johns</p>
                <a href="#" class="btn btn-primary">View Profile</a>
            </div>
            <div class="col-sm-2 team-member">
                <div class="team-member-avatar" style="background-image:url(https://picsum.photos/200/400)"></div>
                <p class="team-member-name"><b>Joe Johnson</b></p>
                <p>Head of Johns</p>
                <a href="#" class="btn btn-primary">View Profile</a>
            </div>
            <div class="col-sm-2 team-member">
                <div class="team-member-avatar" style="background-image:url(https://picsum.photos/200/400)"></div>
                <p class="team-member-name"><b>Joe Johnson</b></p>
                <p>Head of Johns</p>
                <a href="#" class="btn btn-primary">View Profile</a>
            </div>
            <div class="col-sm-2 team-member">
                <div class="team-member-avatar" style="background-image:url(https://picsum.photos/200/400)"></div>
                <p class="team-member-name"><b>Joe Johnson</b></p>
                <p>Head of Johns</p>
                <a href="#" class="btn btn-primary">View Profile</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <hr>
            </div>
        </div>
    </div>-->

    <!-- Box content -->
    <!--<div class="container box-content-container">
        <div class="row">
            <div class="col-sm-4">
                <div class="box-content">
                    <p class="title">Example Title</p>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="/">Find out more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box-content">
                    <p class="title">Example Title</p>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="/">Find out more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box-content">
                    <p class="title">Example Title</p>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="/">Find out more</a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


    <!-- <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> -->
</body>
</html>



